<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="EsccWebTeam.EastSussexGovUK">
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="Escc.ClientDependencyFramework">
      <section name="CssFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ScriptFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <EsccWebTeam.EastSussexGovUK>
    <GeneralSettings>
      <add key="BaseUrl" value="https://hostname" />
    </GeneralSettings>
  </EsccWebTeam.EastSussexGovUK>
  <Escc.ClientDependencyFramework>
    <CssFiles>
      <remove key="HandlerPath" />
      <add key="HandlerPath" value="//hostname/css/{0}-{1}-v2.cssx" />
    </CssFiles>
    <ScriptFiles>
      <remove key="HandlerPath" />
      <add key="HandlerPath" value="//hostname/js/{0}-{1}-v2.jsx" />
    </ScriptFiles>
  </Escc.ClientDependencyFramework>
</configuration>
