/* Remove default gradient background. Replace with white, else the blue background on body will show through. */
body .body { background: #fff; }
body .full-page, body .article { box-shadow: none;padding-bottom: 18px; }

body .breadcrumb, body .breadcrumb .level1, body .breadcrumb .level2 { font-family: 'Source Sans Pro', sans-serif;font-size: 16px;line-height: 18px; background: none; border: none;color: #000; }
body .breadcrumb li { margin-left: 0; }
body .breadcrumb li, body .breadcrumb .level1 { padding: 0 5px 0 0; }
body .breadcrumb li:after { content: ' >'; }
body .breadcrumb li.current:after {content: ''; }
body .breadcrumb a { margin-right: 5px; }
body .breadcrumb a:visited { color: #609; }

/* Box to pull content away from the edges of its containing box by one gutter width. */
@media screen {
    .content {
        padding: 0 3.797468%;
    }
}

.text-content { font-family: 'Source Sans Pro', sans-serif; font-size: 19px; line-height: 27px;}
.text-content h1 { font-size: 48px;line-height: 54px;font-weight: bold;letter-spacing: -0.03em; margin:0 0 18px;}
.text-content h2 { font-size: 36px;line-height: 36px;margin: 27px 0 9px;letter-spacing: -0.04em;word-spacing: .1em;}

.text-content .lead { font-size: 24px;line-height: 27px; }
.text-content p { margin: 9px 0;}
.text-content ul { margin-top: 9px;margin-bottom: 9px;}

button { background: #ED5816;color: #fff;border-style: none; border-bottom: 2px solid #993003;padding: 9px; font-family: 'Source Sans Pro', sans-serif;font-size: 19px;line-height: 18px;text-transform: lowercase;font-weight: bold;margin: 36px 0;display: block; }
button::after { content: ' >'}
button:hover { background: #EE4902; }

.latest { background: #ccc;padding: 18px;margin: 18px 0; }
.latest h2 { margin: 0;}
.latest p:last-child { margin-bottom: 0;}

.related-links ul { border-top: 9px solid #003C69;font-family: 'Source Sans Pro', sans-serif; font-size: 16px; line-height: 18px;list-style-type: none;margin: 0;}
.related-links li { margin: 18px 0;}