/* Box to pull content away from the edges of its containing box by one gutter width. */
@media screen {
    .content {
        padding: 0 3.797468%;
    }
}

/* Container for text content. Equivalent of .text in the default skin, but increasing the base font size to 16px/24px - NOT BASELINE GRID. */
.text-content { font-family: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 1.230769em; line-height: 24px;}

/***********************************************
 NOTE: BASE FONT SIZE IN .text-content IS 16px *
 ***********************************************/

/* h1    30/36px, margins 0 and 9px
   h2    26/27px, margins 18px and 9px
   h3    20/27px, margins 18px and 0
   h4-h6 16/18px (unchanged), margins 18px and 0
    */
.text-content h1 { font-size: 1.875em;line-height: 1.2em;margin:0 0 .3em; font-weight: bold;letter-spacing: -0.03em; }
.text-content h2 { font-size: 1.625em;line-height: 1.038462em; margin: .692308em 0 .346154em;letter-spacing: -0.04em;word-spacing: .1em;}
.text-content h3 { font-size: 1.25em;line-height: 1.35em;margin: .9em 0 0;font-weight: bold; letter-spacing: -0.02em;}
.text-content h4 { margin: 1.125em 0 0;font-weight: bold; }
.text-content h5 { margin: 1.125em 0 0; font-weight: bold;font-style: italic; }
.text-content h6 { margin: 1.125em 0 0; font-style: italic; }

/* 9px margins for standard text, 18px for definition title */
.text-content p { margin: .5625em 0;}
.text-content ul, .text-content ol { margin-top: .5625em; margin-bottom: .5625em;}
.text-content dt {margin: 1.125em 0 0; font-weight: bold;}

/* Leading content is emphasised using larger text, 20/27px */
.text-content .lead { font-size: 1.25em;line-height: 1.35em; }

/* Tables - 8px padding in cells, 1px border */
.text-content table, .text-content caption { margin: 1.125em 0;}
.text-content caption, .text-content th { font-weight: bold;}
.text-content th { background: #eee; }
.text-content th, .text-content td { border: .0625em solid #ccc;padding: .5em;}

/* Link icons - larger text size means icons need to move slightly */
.hcal { background-position: 0 4px; }
.rss { background-position: 0 -44px; }
.email { background-position: 0 -93px; }
.rss-email  { background-position: 0 -146px; }
.xml { background-position: 0 -196px; }
.pdf { background-position: 0 -246px; }
.doc, .rtf { background-position: 0 -296px; }
.xls { background-position: 0 -346px; }
.wma { background-position: 0 -398px;  }
.mp3 { background-position: 0 -448px; }
.ppt { background-position: left -1746px; }
.jpg { background-position: left -2146px; }
.html, .file { background-position: left -2448px; }
.new-window { background-position: 100% -498px; }
.twitter, [href*="twitter.com"] { background-position: 0 -1298px; }
.facebook, [href*="facebook.com"] { background-position: 0 -1348px; }
.youtube, [href*="youtube.com"] { background-position: 0 -1398px; }
.flickr, [href*="flickr.com"] { background-position: 0 -1448px; }

/* TO DO - NOT IN STYLE GUIDE */
button { background: #ED5816;color: #fff;border-style: none; border-bottom: 2px solid #993003;padding: 9px; font-family: 'Source Sans Pro', sans-serif;font-size: 19px;line-height: 18px;text-transform: lowercase;font-weight: bold;margin: 36px 0;display: block; }
button::after { content: ' >'}
button:hover { background: #EE4902; }

.latest { background: #ccc;padding: 18px;margin: 18px 0; }
.latest h2 { margin: 0;}
.latest p:last-child { margin-bottom: 0;}

.related-links ul { border-top: 9px solid #003C69;font-family: 'Source Sans Pro', sans-serif; font-size: 16px; line-height: 18px;list-style-type: none;margin: 0;}
.related-links li { margin: 18px 0;}