/* Add some padding to separate from the footer now that the box from the default skin is not a visible separator */
body .full-page, body .article { padding-bottom: 1.384615em; }

/* Box to pull content away from the edges of its containing box by one gutter width. */
@media screen {
    .content, .content-small {
        padding: 0 3.797468%;
    }
}

/* Container for text content. Equivalent of .text in the default skin, but increasing the base font size to 16px/24px.

   NOTE: THIS IS NOT ON THE BASELINE GRID. 16px text just doesn't look good with 18px or 27px line-height. The baseline
   grid is less important at small sizes anyway as elements are stacked rather than side-by-side. .text-content will be 
   adjusted back onto the baseline grid in content-medium.css. */
.text-content { font-family: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 1.230769em; line-height: 24px;}

/***********************************************
 NOTE: BASE FONT SIZE IN .text-content IS 16px *
 ***********************************************/

/* h1    30/36px, margins 0 and 9px
   h2    26/27px, margins 18px and 9px
   h3    20/27px, margins 18px and 0
   h4-h6 16/18px (unchanged), margins 18px and 0
    */
.text-content h1 { font-size: 1.875em;line-height: 1.2em;margin:0 0 .3em; font-weight: bold;letter-spacing: -0.03em; }
.text-content h2 { font-size: 1.625em;line-height: 1.038462em; margin: .692308em 0 .346154em;letter-spacing: -0.04em;word-spacing: .1em;}
.text-content h3 { font-size: 1.25em;line-height: 1.35em;margin: .9em 0 0;font-weight: bold; letter-spacing: -0.02em;}
.text-content h4 { margin: 1.125em 0 0;font-weight: bold; }
.text-content h5 { margin: 1.125em 0 0; font-weight: bold;font-style: italic; }
.text-content h6 { margin: 1.125em 0 0; font-style: italic; }

/* 9px margins for standard text, 18px for definition title */
.text-content p { margin: .5625em 0;}
.text-content ul, .text-content ol { margin-top: .5625em; margin-bottom: .5625em;}
.text-content dt {margin: 1.125em 0 0; font-weight: bold;}

/* Leading content is emphasised using larger text, 20/27px */
.text-content .lead { font-size: 1.25em;line-height: 1.35em; }

/* Tables - 8px padding in cells, 1px border */
.text-content table, .text-content caption { margin: 1.125em 0;}
.text-content caption, .text-content th { font-weight: bold;}
.text-content th { background: #eee; }
.text-content th, .text-content td { border: .0625em solid #ccc;padding: .5em;}

/* Link icons - larger text size means icons need to move slightly */
.text-content .hcal { background-position: 0 4px; }
.text-content .rss { background-position: 0 -44px; }
.text-content .email { background-position: 0 -93px; }
.text-content .rss-email  { background-position: 0 -146px; }
.text-content .xml { background-position: 0 -196px; }
.text-content .pdf { background-position: 0 -246px; }
.text-content .doc, .text-content .rtf { background-position: 0 -296px; }
.text-content .xls { background-position: 0 -346px; }
.text-content .wma { background-position: 0 -398px;  }
.text-content .mp3 { background-position: 0 -448px; }
.text-content .ppt { background-position: left -1746px; }
.text-content .jpg { background-position: left -2146px; }
.text-content .html, .text-content .file { background-position: left -2448px; }
.text-content .new-window { background-position: 100% -498px; }
.text-content .twitter, .text-content [href*="twitter.com"] { background-position: 0 -1298px; }
.text-content .facebook, .text-content [href*="facebook.com"] { background-position: 0 -1348px; }
.text-content .youtube, .text-content [href*="youtube.com"] { background-position: 0 -1398px; }
.text-content .flickr, .text-content [href*="flickr.com"] { background-position: 0 -1448px; }

/* Adjust .quick-answer to change in base font-size */
.text-content .quick-answer { font-size: 1.6875em; }

/* Latest box to highlight new content. Just a coloured background with otherwise standard styles. */
.text-content .latest { background: #ccc; padding: 1.125em 18px; margin: 1.125em 0; }
.text-content .latest h2 { margin: 0;}
.text-content .latest p:last-child { margin-bottom: 0;}

/* Related links box based on a combination of classes:
    
    <div class="supporting content-text related-links content-small content-medium">
        Content here
    </div>
    */
.related-links ul { border-top: .5625em solid #003C69; list-style-type: none;margin: 0;}
.related-links li { margin: 1.125em 0;}

/* Progress bar from forms stylesheet - in context of 16px base font, adjust to 14px/18px using new font */
ol.progressBar { overflow: auto;margin: 1.125em 0;}
ol.progressBar li {font-size: .875em; line-height: 1.285714em;font-weight: normal;  }

/* Clear button for the main action on a page. Equivalent of .major-action in default skin. 
   19px/18px with 9px padding and vertical margins of 35px (+2px border = 36px) */
.main-action a { font-size: 1.1875em;line-height: .947368em;display: inline-block;padding: .473684em;margin: 1.894737em 0; border-bottom: .105263em solid #993003;background: #ED5816;color: #fff; text-transform: lowercase;text-decoration: none;letter-spacing: .03em; }
.main-action a:after { content: ' >'}
.main-action a:hover, .main-action a:focus, .main-action a:active { background: #EE4902; }

/* Reset other buttons to their default skin size */
.button, .form input[type=submit] {font-size: .8125em; line-height: 1.384615em; }