/* Adjust .content to the 10 column context */
@media screen {
    .content-small { padding: 0; }
    .content, .content-medium {
        padding: 0 2.244389%;
    }
}

/* Container for text content. Equivalent of .text in the default skin, but increasing the base font size to 19px/27px. */
.text-content { font-size: 1.461538em; line-height: 1.421052em;}

/***********************************************
 NOTE: BASE FONT SIZE IN .text-content IS 19px *
 ***********************************************/

/* h1 = 48/54px, 0 & 18px margins
   h2 = 36/36px, 27px & 9px margins 
   h3 = 28/36px, 27px & 9px margins
   h4 = 23/27px, 27px & 9px margins
   h5 = 19/27px (unaltered), 27px & 9px margins
   h6 = 19/27px (unaltered), 18px & 0 margins */
.text-content h1 { font-size: 2.526316em;line-height: 1.125em;margin:0 0 .375em; }
.text-content h2 { font-size: 1.894737em;line-height: 1em; margin: .75em 0 .25em; }
.text-content h3 { font-size: 1.473684em;line-height: 1.285714em;margin: .964286em 0 .321429em;font-weight: normal; }
.text-content h4 { font-size: 1.210526em;line-height: 1.173913em;margin: 1.173913em 0 .391304em;font-weight: normal; }
.text-content h5 { margin: 1.421053em 0 0; font-weight: bold;font-style: normal; }
.text-content h6 { margin: .947368em 0 0; font-weight: bold; }

/* 9px margins for standard text, 18px for definition title */
.text-content p { margin: .473684em 0;}
.text-content ul, .text-content ol { margin-top: .473684em; margin-bottom: .473684em;}
.text-content dt {margin: .947368em 0 0; font-weight: bold;}

/* Leading content is emphasised using larger text, 24/36px */
.text-content .lead { font-size: 1.263158em;line-height: 1.5em; }

/* Tables - 8px padding in cells, 1px border */
.text-content table, .text-content caption { margin: .947368em 0;}
.text-content th, .text-content td { border: .052631em solid #ccc;padding: .421053em;}

/* Link icons - larger text size means icons need to move slightly */
.text-content .hcal, .text-content [href$=".calendar"] { background-position: 0 6px; }
.text-content .rss { background-position: 0 -42px; }
.text-content .email { background-position: 0 -92px; }
.text-content .rss-email  { background-position: 0 -144px; }
.text-content .xml { background-position: 0 -194px; }
.text-content .pdf { background-position: 0 -244px; }
.text-content .doc, .text-content .rtf { background-position: 0 -294px; }
.text-content .xls { background-position: 0 -344px; }
.text-content .wma { background-position: 0 -396px;  }
.text-content .mp3 { background-position: 0 -446px; }
.text-content .ppt { background-position: left -1744px; }
.text-content .jpg { background-position: left -2144px; }
.text-content .html, .text-content .file { background-position: left -2446px; }
.text-content .new-window { background-position: 100% -496px; }
.text-content .twitter, .text-content [href*="twitter.com"] { background-position: 0 -1296px; }
.text-content .facebook, .text-content [href*="facebook.com"] { background-position: 0 -1346px; }
.text-content .youtube, .text-content [href*="youtube.com"] { background-position: 0 -1396px; }
.text-content .flickr, .text-content [href*="flickr.com"] { background-position: 0 -1446px; }

/* Adjust .quick-answer to change in base font-size */
.text-content .quick-answer { font-size: 1.421053em; }

/* Latest box to highlight new content - adjust spacing for new base font. */
.text-content .latest { background: #ccc; padding: .947368em 18px; margin: .947368em 0; }

/* Related links box - adjust for change in base font size */
.related-links ul { border-top-width: .473684em; }
.related-links li { margin: .947369em 0; }

/* Progress bar from forms stylesheet - in context of 19px base font, adjust to 14px/18px using new font */
ol.progressBar { margin: .947368em 0;}
ol.progressBar li { font-size: .736842em; }

/* Clear button for the main action on a page. Maintain font-size at 19px despite base font increase. */ 
.main-action a { font-size: 1em; }

/* Reset other buttons to their default skin size */
.button, .form input[type=submit] {font-size: .684211em; }

/* Share links for the bottom of a page, defined in the _Share.cshtml partial view from Escc.CustomerFocusTemplates.Website. 
   Retain 16px text and 18px margin above, to look unchanged from mobile view. */
.text-content .share-page { font-size: .842105em; }
.text-content .share-page .email { background-position: 0 -94px; }
