/* Set the background for the GovDelivery area which slides into view. */
#govdelivery, #govdelivery .form { background: black; color: #fff;margin: 0;}

/* Place icon before h2, taking up three grid lines of space (54px) */
#govdelivery h2:before { content: ' ';display: inline-block; width: 54px; height: 54px;border-radius: 29px; background: #B21313 url(/img/body/navigation.png) no-repeat -442px -411px; 
        text-indent: 100%; white-space: nowrap;overflow: hidden;
        vertical-align: middle;margin-right: 18px; }

/* 26px font to match the image, above. Line height is 9px with bottom margin of 27px (.5 and 1.5 grid lines) because that works at small sizes when the text wraps. */
#govdelivery h2 { font-size: 2em;line-height: 9px;margin: 0 0 18px 71px;text-indent: -71px; }