
/*  */
.govdelivery:link, .govdelivery:visited {position: absolute;top: 4px;right: 90px; display: inline-block;width: 100px;height: 26px;border-radius: 10px; box-shadow: #999 2px 2px 5px 0;
                    background: red url(/img/body/item-type.png) no-repeat 12px -88px;

    color: #fff;padding: 10px 0 0 30px;text-decoration: none; }

@media only screen and (min-width: 802px) {
    .govdelivery:link, .govdelivery:visited {left: 140px;top: 9px;right: auto;}
}


/* http://www.sitepoint.com/new-css-image-replacement-technique/    
    text-indent: 100%; white-space: nowrap; overflow: hidden; 
*/
@media only screen and (min-width: 900px) {
    .govdelivery:link, .govdelivery:visited {
        left:42.443064%;padding: 10px 0 0 0;width: 54px;height: 44px;top: 36px;border-radius: 27px;background-image: none; 
    }
}