/* This stylesheet is applied to an RSS feed when an XSLT processing instruction is included in the feed, the browser
   supports XSLT, and doesn't have its own rendering of RSS feeds (as Firefox 2+ and IE7+ do). */

/****************************************************************** 
 * RESETS FOR ALL MEDIA: html5doctor.com/html-5-reset-stylesheet/ *
 ******************************************************************/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
abbr, address, cite, em, img, small, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video 
{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-align: left; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/* Important for body to have a background colour, because otherwise it gets the operating system's default colour which may not be what we want. */
/* Set default font to 13px on a baseline grid of 18px, but use small keyword to do it so that IE6 can resize text */
body { margin: 0 auto; background: #fff; color: #131313; font: small/1.3846153846153846153846153846154em Arial, "Helvetica Neue", Helvetica, sans-serif; }

.header { background: #01A1DF url(/img/header/desktop.png) repeat-x center top; overflow: hidden; }
.header img { display: block; margin: 11px 18px 15px; }

.body { padding: 7px 18px 14px; }

.rss-item { border-top: #dae1e5 solid 1px; padding: 1.384615em 0 0; margin: 1.384615em 0 0; }

h1 { font-weight: bold; font-size: 1.846154em; line-height: 1.5em; border-bottom: 5px solid #bed600; padding: 5px 18px 4px; background: #fff; color: #272727; margin: 0 -18px; }
h2, .rss-item { font-weight: bold; font-size: 1.230769em; line-height: 1.125em; margin: 14px 0 4px; color: #272727; }
h3 { font-weight: bold; font-size: 1.153846em; line-height: 1.2em; margin: 14px 0 4px; color: #272727; }
h4 { font-weight: bold; font-size: 1.076923em; line-height: 1.384615em; margin: 14px 0 4px; color: #272727; }
h5 { font-weight: bold; font-size: 1em; line-height: 18px; margin: 14px 0 4px; color: #272727; }
p { margin: 9px 0; }

ul { margin: 9px 0 9px 1.153846em; }
ol { margin-left: 2em; list-style-type: decimal; }
dl { margin: 18px 0; }
dt { margin: 9px 0 0; font-weight: bold; }
dd { margin: 0 0 9px; }

p, dl, ul, ol, h2, h3, h4, h5 { max-width: 50em; }

a:link { color: #003c69; }
a:visited { color: #609; }
a:hover, a:focus, a:active { color: #B80000; }

strong { font-weight: bold; }

p.published { color: #666; font-size:.85em; margin: 0; }