<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceAlertsUrl" value="https://hostname/service-alerts" />
    <add key="WebChatUrl" value="https://hostname/web-chat-api" />
  </appSettings>
  
  <system.web>
      <httpHandlers>
        <add verb="GET" path="*.jsx" type="EsccWebTeam.Egms.CombineStaticFilesHandler,EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f"/>
      </httpHandlers>
    </system.web>
</configuration>
