<?xml version="1.0"?>
<configuration>
    <system.web>
      <httpHandlers>
        <add verb="GET" path="*.jsx" type="EsccWebTeam.Egms.CombineStaticFilesHandler,EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f"/>
      </httpHandlers>
    </system.web>
</configuration>
