<configuration>
  <configSections>
    <sectionGroup name="Escc.EastSussexGovUK">
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="BreadcrumbTrail" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Data" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.FormControls">
      <section name="ValidationSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EsccWebTeam.ServiceClosures.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <EsccWebTeam.ServiceClosures.Properties.Settings>
      <setting name="XmlFolder" serializeAs="String">
        <value>Path to school closures XML data file</value>
      </setting>
      <setting name="ShortNoticeDays" serializeAs="String">
        <value>5</value>
      </setting>
    </EsccWebTeam.ServiceClosures.Properties.Settings>
  </applicationSettings>

  <Escc.EastSussexGovUK>
    <GeneralSettings>
      <add key="MasterPageParameterName" value="template" />
      <add key="DesktopMasterPage" value="{~/path/to/Desktop.master}" />
      <add key="FullScreenMasterPage" value="{~/path/to/FullScreen.master}" />
      <add key="PlainMasterPage" value="{~/path/to/Plain.master}" />
      <!--<add key="BaseUrl" value="http://www.eastsussex.gov.uk" />-->
      <add key="ErrorControlUrl" value="~/masterpages/controls/error{0}.ascx" />
    </GeneralSettings>
    <!-- Breadcrumb trail can be specified in web.config 
		<BreadcrumbTrail>
			<add key="Top level section" value="/toplevelsection/" />
			<add key="Sub-section" value="/toplevelsection/subsection/" />
			<add key="Specific page" value="" />
		</BreadcrumbTrail>-->
    <Data>
      <!-- <add key="TransformHosts" value="requestFrom=requestTo;hostname=hostname2" />-->
    </Data>
  </Escc.EastSussexGovUK>

  <!-- Settings for standard form controls -->
  <EsccWebTeam.FormControls>
    <ValidationSettings>
      <add key="WebImageMimeTypes" value="image/jpeg;image/pjpeg;image/gif;image/x-png;image/png" />
      <add key="WebFileAttachmentMimeTypes" value="application/msword;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/pdf;application/rtf;application/vnd.ms-excel;application/ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;image/jpeg;image/pjpeg" />
      <add key="AddressFieldFormat" value="^[\w*\d*\s*'-./\\*]+$" />
    </ValidationSettings>
  </EsccWebTeam.FormControls>
  <system.web>
    <httpRuntime maxRequestLength="51200" enableVersionHeader="false" />
    <globalization fileEncoding="utf-8" />
  </system.web>
</configuration>
