<configuration>
  <!-- DO NOT include any elements or attributes introduced after ASP.NET 2 in this web.config. Add them to subfolders instead. 
			 Including them here breaks the MCMS export, because the MCMS subfolder has to run under ASP.NET 2. -->
  <configSections>
    <section name="membership" type="EsccWebTeam.MembershipApi.MembershipSectionHandler,EsccWebTeam.MembershipApi, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
    <section name="newsletters" type="Escc.Newsletters.NewsletterSectionHandler,Escc.Newsletters, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
    <sectionGroup name="EsccWebTeam.Cms">
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ChannelExpiry" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="TemplateExpiry" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="EnforceCmsHostModule" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ReplaceOnSave" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ReplaceOnSaveRegex" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="SecuritySettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ChannelsExcludedFromCreatePageLimit" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ChannelsExcludedFromSnapshots" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="TemplatesExcludedFromSnapshots" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.Data.ActiveDirectory">
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.DatabaseFileControls">
      <section name="FileAttachmentSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ImageSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.EastSussexGovUK">
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="BreadcrumbTrail" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="Data" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="DesktopMasterPages" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="MobileMasterPages" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="HttpReplaceOnRender" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="HttpsReplaceOnRender" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="RemoteMasterPage" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.Egms">
      <section name="EgmsWebMetadata" type="EsccWebTeam.Egms.EgmsWebMetadataSectionHandler,EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" requirePermission="false" />
      <section name="ControlledListXml" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="CssFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ScriptFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.Events">
      <section name="DatabaseSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="DateSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <sectionGroup name="Roles">
        <section name="Administrators" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <section name="Editors" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </sectionGroup>
      <section name="UrlSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.FormControls">
      <section name="ValidationSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="EsccWebTeam.NavigationControls">
      <section name="Paging" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="ProgressBar" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EsccWebTeam.Cms.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="EsccWebTeam.Cms.WebAuthor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="EsccWebTeam.EastSussexGovUK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="EsccWebTeam.ServiceClosures.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <EsccWebTeam.Cms.Properties.Settings>
      <setting name="EsccWebTeam_Cms_FindStaffWebService_FindStaffWebService" serializeAs="String">
        <value>URL of Find Staff web service</value>
      </setting>
    </EsccWebTeam.Cms.Properties.Settings>
    <EsccWebTeam.Cms.WebAuthor.Properties.Settings>
      <setting name="EsccWebTeam_Cms_WebAuthor_FindStaffWebService_FindStaffWebService" serializeAs="String">
        <value>URL of Find Staff web service</value>
      </setting>
    </EsccWebTeam.Cms.WebAuthor.Properties.Settings>
    <EsccWebTeam.EastSussexGovUK.Properties.Settings>
      <setting name="EsccWebTeam_EastSussexGovUK_DeviceDetection_Service"
       serializeAs="String">
        <value>URL of device detection web service</value>
      </setting>
      <setting name="EsccWebTeam_EastSussexGovUK_GoogleAnalytics_GoogleAnalytics"
       serializeAs="String">
        <value>URL of Google Analytics search suggestions web service</value>
      </setting>
    </EsccWebTeam.EastSussexGovUK.Properties.Settings>
    <EsccWebTeam.ServiceClosures.Properties.Settings>
      <setting name="XmlFolder" serializeAs="String">
        <value>Path to school closures XML data file</value>
      </setting>
      <setting name="ShortNoticeDays" serializeAs="String">
        <value>5</value>
      </setting>
    </EsccWebTeam.ServiceClosures.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="DbConnectionStringEFormsReader" value="connection string"></add>
    <add key="DbConnectionStringEFormsWriter" value="connection string"></add>
    <add key="DbConnectionStringNewsletterUser" value="connection string" />
    <add key="CmsAdminUser" value="username" />
    <add key="CmsAdminPassword" value="password" />
    <add key="CmsAdminDomain" value="domain" />
    <add key="CmsWebAuthor_PropertiesToHide" value="^(ESCC\.[a-z0-9]+|DC.language|eGMS\.subject\.category\.[1-5]|LGSL numbers|Page layout)$" />
    <add key="CmsWebAuthor_PropertiesToHideIfEmpty" value="^(Metadata invalid)$" />
    <add key="SchoolUrl" value="https://hostname/educationandlearning/schools/schoolsearch/{0}.htm" />
  </appSettings>
  <connectionStrings>
    <add name="CMSDB" connectionString="connection string" />
    <add name="CmsSupport" connectionString="connection string" />
    <add name="Escc.Politics.Read" connectionString="connection string" />
    <add name="GrittingDecisionReader" connectionString="connection string" />
    <add name="RedirectsReader" connectionString="connection string" />
  </connectionStrings>
  <EsccWebTeam.Cms>
    <GeneralSettings>
      <add key="CmsEnabled" value="hostname;hostname;hostname" />
      <add key="HttpCachingEnabled" value="true" />
      <!-- 
				.major-action is for jobs template but may get used elsewhere
				.first and second are for two lists in a placeholder
				.highlighted is Council Plan
				-->
      <add key="AllowedClasses" value="major-action;first;second;highlighted" />
      <add key="Acronyms" value="NHS;GP;UK" />
    </GeneralSettings>
    <EnforceCmsHostModule>
      <add key="hostname" value="hostname" />
    </EnforceCmsHostModule>
    <ChannelExpiry>
      <add key="default" value="6" />
      <add key="channel/special-channel-2" value="12" />
      <add key="channel/special-channel" value="never" />
    </ChannelExpiry>
    <TemplateExpiry>
      <add key="template guid" value="never" />
      <add key="template guid" value="12" />
    </TemplateExpiry>
    <ReplaceOnSave>
      <add key="before" value="after" />
    </ReplaceOnSave>
    <ReplaceOnSaveRegex>
      <add key="before" value="after" />
    </ReplaceOnSaveRegex>
    <ChannelsExcludedFromCreatePageLimit>
      <add key="channel guid" value="channel path" />
    </ChannelsExcludedFromCreatePageLimit>
    <ChannelsExcludedFromSnapshots>
      <add key="channel guid" value="channel path" />
    </ChannelsExcludedFromSnapshots>
    <TemplatesExcludedFromSnapshots>
      <add key="template guid" value="template display name" />
    </TemplatesExcludedFromSnapshots>
    <SecuritySettings>
      <add key="EnableRedirectToHttp" value="true" />
      <add key="EnableRedirectToHttps" value="true" />
      <add key="PermissionToEditImages" value="groupname;groupname;domain\user"/>
      <add key="WebTeamGroup" value="groupname" />
      <add key="BaseUrlForEditing" value="http://hostname" />
      <add key="ErrorNotificationEmail" value="email address" />
    </SecuritySettings>
  </EsccWebTeam.Cms>

  <EsccWebTeam.Data.ActiveDirectory>
    <GeneralSettings>
      <add key="DefaultDomain" value="domain" />
    </GeneralSettings>
  </EsccWebTeam.Data.ActiveDirectory>

  <EsccWebTeam.DatabaseFileControls>
    <FileAttachmentSettings>
      <add key="FileAttachmentHandlerUrl" value="/{0}/FileAttachmentHandler.ashx?fileid={1}" />
      <add key="MaximumFileSize" value="1048576" />
      <add key="FileEditPrompt" value="Attach file (eg flyer)&lt;br /&gt;Maximum size: 1MB&lt;br /&gt;Maximum files: six"/>
      <add key="ErrorUploadFileAttachmentSize" value="Your file attachment is too big. It must be less than 1MB." />
      <add key="ErrorUploadFileAttachmentCount" value="A maximum of &lt;strong&gt;{0}&lt;/strong&gt; {1} can be attached to an event. You have already attached {0} {1}."/>
      <add key="ErrorUploadFileAttachmentFormat" value="Your file attachment is the wrong type - it must be one of the following: Word, Excel or PowerPoint Office document; PDF or RTF document; JPEG, GIF or PNG image." />
    </FileAttachmentSettings>
    <ImageSettings>
      <add key="ImageHandlerUrl" value="/{0}/ImageHandler.ashx?imageid={1}" />
      <add key="ImageExampleUrl" value="/wres/events/your-image-here.gif" />
      <add key="ImageMaximumWidth" value="150" />
      <add key="ImageMaximumHeight" value="150" />
      <add key="ImageMaximumFileSize" value="20480" />
      <add key="ErrorUploadImageSize" value="Your picture is too big. It must be 150 pixels wide by 150 pixels high, or smaller." />
      <add key="ErrorUploadSize" value="Your picture is too big. It must be less than 20K." />
      <add key="ErrorUploadFormat" value="Your picture is the wrong type - it must be a JPEG, GIF or PNG" />
      <add key="ErrorImageDescLength" value="Your picture description must be 250 characters or fewer" />
      <add key="ErrorImageDescriptionRequired" value="Please add a short description of the image and select your picture again" />
      <add key="ImageEditPrompt" value="Picture" />
      <add key="ImageAdvicePixels" value="Your picture or photo can be up to 150 pixels wide by 150 pixels high." />
      <add key="ImageAdviceBytes" value="Your picture file size must be under 20K." />
      <add key="ImageDescEditPrompt" value="Description of picture" />
      <add key="ImageExampleAlt" value="Your picture could go here (maximum size 150 x 150 pixels)" />
    </ImageSettings>
  </EsccWebTeam.DatabaseFileControls>
  <EsccWebTeam.EastSussexGovUK>
    <GeneralSettings>
      <add key="MasterPageParameterName" value="template" />
      <add key="DesktopMasterPage" value="~/path/to/Desktop.master" />
      <add key="MobileMasterPage" value="~/path/to/Mobile.master" />
      <add key="FullScreenMasterPage" value="~/path/to/FullScreen.master" />
      <add key="PlainMasterPage" value="~/path/to/Plain.master" />
      <!--<add key="BaseUrl" value="http://www.eastsussex.gov.uk" />-->
    </GeneralSettings>
    <!-- Breadcrumb trail can be specified in web.config if CMS not installed
		<BreadcrumbTrail>
			<add key="Top level section" value="/toplevelsection/default.htm" />
			<add key="Sub-section" value="/toplevelsection/subsection/default.htm" />
			<add key="Specific page" value="" />
		</BreadcrumbTrail>-->
    <DesktopMasterPages>
      <add key="/special-channel" value="~/path/to/customised.master" />
      <add key="/" value="~/path/to/default.master" />
    </DesktopMasterPages>
    <!-- Having this separate section for mobile.master somehow gets roadworks showing the right map for mobile -->
    <MobileMasterPages>
      <add key="/special-channel" value="~/path/to/customised.master" />
      <add key="/" value="~/path/to/default.master" />
    </MobileMasterPages>
    <Data>
      <add key="HCalendarPrepareXslt" value="~/path/to/hcalendar.xslt" />
      <add key="HCalendarXslt" value="~/path/to/xhtml2vcal.xsl" />
      <add key=".calendar" value="~/path/to/calendar.aspx?url={0}" />
      <add key=".ics" value="~/path/to/hcalendar.ashx?url={0}" />
      <!-- <add key="TransformHosts" value="requestFrom=requestTo;hostname=hostname2" />-->
    </Data>
    <HttpReplaceOnRender>
      <!-- ENABLE ON LIVE TO LOAD IMAGES FROM COOKIE-FREE ALTERNATIVE DOMAIN. DO NOT ENABLE ON DEV OR STAGING.
			<add key="REGEX: src=&quot;(http://www.eastsussex.gov.uk)?(/[A-Za-z0-9]+[^>]*\.)(jpg|gif|png)&quot;" value=" src=&quot;//static2.eastsussexcc.gov.uk$2$3&quot;" />-->
    </HttpReplaceOnRender>
    <HttpsReplaceOnRender>
    </HttpsReplaceOnRender>
    <!-- Settings for loading template from remote location rather than having copy of components locally.-->
    <RemoteMasterPage>
      <add key="CorsAllowedOrigins" value="https://example.eastsussex.gov.uk" />
      <!--<add key="CacheMinutes" value="60" />
			<add key="MasterPageControlUrl" value="http://hostname/path/to/control.aspx?control={0}" />-->
    </RemoteMasterPage>
  </EsccWebTeam.EastSussexGovUK>
  <!-- Sitewide scripts and CSS files -->
  <EsccWebTeam.Egms>
    <ControlledListXml>
      <add key="Ipsv" value="path to ipsv.xml" />
      <add key="Lgsl" value="path to lgsl.xml" />
      <add key="Lgtl" value="path to lgtl.xml" />
      <add key="Lgil" value="path to lgil.xml" />
      <add key="LgslLgalMapping" value="path to lgsllgalmapping.xml" />
      <add key="LgslIpsvMapping" value="path to lgslipsvmapping.xml" />
    </ControlledListXml>
    <EgmsWebMetadata creator="Web Team, East Sussex County Council, County Hall, Lewes, BN7 1SG. Phone: 01273 335061" errorMode="On" wcagLevel="AA" lgilType="Providing information" copyrightUrl="http://www.eastsussex.gov.uk/about/copyright/" openSearchUrl="http://www.eastsussex.gov.uk/search/opensearch.xml" openSearchTitle="East Sussex County Council" titlePattern="{0} &amp;#8211; East Sussex County Council" hasTouchIcon="true" facebookAppId="169406409819518" siteName="East Sussex County Council" siteImageUrl="http://www.eastsussex.gov.uk/apple-touch-icon-precomposed-72x72.png" openGraphType="article" windowsTileIconUrl="/windows-tile.png" windowsTileColour="#ffffff" twitterAccount="@eastsussexcc" />
    <ScriptFiles>
      <add key="HandlerPath" value="/js/{0}-{1}-v2.jsx" />
      <!-- LIVE settings SHOULD be as follows, but they're not because of an issue with IE6 and www.eastsussex.gov.uk being 
					 in the Trusted Zone on ESCC PCs. They can be changed to this once IE6 has finally died.
					 <add key="HandlerPath" value="http://static2.eastsussexcc.gov.uk/js/{0}.jsx" />
					 <add key="HttpsHandlerPath" value="https://www.eastsussex.gov.uk/js/{0}.jsx" />
			-->
      <add key="HandlerPlaceholder" value="javascript" />

      <add key="ExampleScript" value="virtual URL of script" />
    </ScriptFiles>
    <CssFiles>
      <add key="HandlerPath" value="/css/{0}-{1}-v2.cssx" />
      <!-- LIVE settings SHOULD be as follows, but they're not because of an issue with IE6 and www.eastsussex.gov.uk being 
					 in the Trusted Zone on ESCC PCs. They can be changed to this once IE6 has finally died.
					 <add key="HandlerPath" value="http://static1.eastsussexcc.gov.uk/css/{0}.cssx" />
					 <add key="HttpsHandlerPath" value="https://www.eastsussex.gov.uk/css/{0}.cssx" />
			-->
      <add key="HandlerPlaceholder" value="css" />
      <add key="Medium" value="only screen and (min-width: 474px)" />
      <add key="Large" value="only screen and (min-width: 802px)" />

      <add key="ExampleStylesheet" value="virtual URL of CSS file" />
    </CssFiles>
  </EsccWebTeam.Egms>

  <!-- Settings for events system -->
  <EsccWebTeam.Events>
    <DatabaseSettings>
      <add key="Data access method" value="database" />
      <add key="SP_Event_Overview_Insert" value="stored procedure name" />
      <add key="SP_Event_Overview_Update" value="stored procedure name" />
      <add key="SP_Event_Categories_Delete" value="stored procedure name" />
      <add key="SP_Event_Category_Insert" value="stored procedure name" />
      <add key="SP_Category_Select_Hierarchy" value="stored procedure name" />
      <add key="SP_Event_Select" value="stored procedure name" />
      <add key="SP_Event_Select_Partial" value="stored procedure name" />
      <add key="SP_Event_Select_Workflow" value="stored procedure name" />
      <add key="SP_Event_Select_Approved" value="stored procedure name" />
      <add key="SP_Event_Select_Search" value="stored procedure name" />
      <add key="SP_Event_Select_Category" value="stored procedure name" />
      <add key="SP_Event_Select_DateRange" value="stored procedure name" />
      <add key="SP_Event_Select_Recurring_All" value="stored procedure name" />
      <add key="SP_Event_Select_Recurring" value="stored procedure name" />
      <add key="SP_Event_Copy" value="stored procedure name" />
      <add key="SP_Event_Recurrences_Delete" value="stored procedure name" />
      <add key="SP_Event_Recurrence_Insert" value="stored procedure name" />
      <add key="SP_Event_Dates_Update" value="stored procedure name" />
      <add key="SP_Venue_Update" value="stored procedure name" />
      <add key="SP_Contact_Public_Update" value="stored procedure name" />
      <add key="SP_Contact_Submitter_Update" value="stored procedure name" />
      <add key="SP_Contact_Submitter_As_Public_Update" value="stored procedure name" />
      <add key="SP_Event_Submit" value="stored procedure name" />
      <add key="SP_Event_Approve" value="stored procedure name" />
      <add key="SP_Event_Mark_Deleted" value="stored procedure name" />
      <add key="SP_Category_Select_All" value="stored procedure name" />
      <add key="SP_Event_Select_Stats_Monthly" value="stored procedure name" />
      <add key="SP_Event_Image_Set" value="stored procedure name" />
      <!-- Czone related stored procedures -->
      <add key="SP_Audience_Select_All" value="stored procedure name" />
      <add key="SP_Event_Audience_Set" value="stored procedure name" />
      <add key="SP_Event_File_Set" value="stored procedure name" />
      <add key="SP_Event_SchoolPhases_Set" value="stored procedure name" />
      <add key="SP_SchoolPhase_Select_All" value="stored procedure name" />
    </DatabaseSettings>
    <DateSettings>
      <add key="FirstYear" value="2006" />
      <add key="FutureYears" value="1" />
      <add key="FutureRecurrenceYears" value="5" />
      <add key="MaxRecurrenceDays" value="365" />
    </DateSettings>
    <GeneralSettings>
      <add key="ApplicationLocation" value="EsccWebsite" />
    </GeneralSettings>
    <Roles>
      <Administrators>
        <add key="Developers" value="groupname" />
      </Administrators>
      <Editors>
      </Editors>
    </Roles>
    <UrlSettings>
      <add key="PublicBaseUrl" value="http://www.eastsussex.gov.uk" />
      <add key="ViewEventUrl" value="/leisureandtourism/whatson/event.aspx?event={0}" />
      <add key="ViewCategoryUrl" value="/leisureandtourism/whatson/category.aspx?category={0}" />
      <add key="ViewLandingUrl" value="/leisureandtourism/whatson/" />
      <add key="ViewAllUrl" value="/leisureandtourism/whatson/viewall.aspx" />
      <add key="ViewResultUrl" value="/leisureandtourism/whatson/results.aspx?category={0}&amp;location={1}&amp;from={2}&amp;to={3}" />
      <add key="ViewAllRssUrl" value="/rss/whatson.xml" />
      <add key="SubmitNewUrl" value="/leisureandtourism/whatson/add/default.aspx" />
      <add key="SubmitCopyUrl" value="/leisureandtourism/whatson/add/default.aspx?copy={0}" />
      <add key="SubmitOverviewUrl" value="/leisureandtourism/whatson/add/default.aspx?event={0}" />
      <add key="SubmitDateUrl" value="/leisureandtourism/whatson/add/page2.aspx?event={0}" />
      <add key="SubmitVenueUrl" value="/leisureandtourism/whatson/add/page3.aspx?event={0}" />
      <add key="SubmitContactUrl" value="/leisureandtourism/whatson/add/page4.aspx?event={0}" />
      <add key="SubmitConfirmUrl" value="/leisureandtourism/whatson/add/confirm.aspx?event={0}" />
      <add key="SubmitThanksUrl" value="/leisureandtourism/whatson/add/thanks.aspx?event={0}" />
      <add key="EditListUrl" value="/managewebsite/events/default.aspx" />
      <add key="EditEventUrl" value="/managewebsite/events/edit.aspx?event={0}" />
      <add key="EditApproveUrl" value="/managewebsite/events/view.aspx?event={0}" />
      <add key="ParamEvent" value="event" />
      <add key="ParamCopyEvent" value="copy" />
      <add key="ParamWorkflow" value="stage" />
      <add key="ParamCategory" value="category" />
      <add key="ParamLocation" value="location" />
      <add key="ParamDateFrom" value="from" />
      <add key="ParamDateTo" value="to" />
      <add key="ParamDateFuture" value="futureonly" />
    </UrlSettings>
  </EsccWebTeam.Events>
  <!-- Settings for standard form controls -->
  <EsccWebTeam.FormControls>
    <ValidationSettings>
      <add key="WebImageMimeTypes" value="image/jpeg;image/pjpeg;image/gif;image/x-png;image/png" />
      <add key="WebFileAttachmentMimeTypes" value="application/msword;application/vnd.openxmlformats-officedocument.wordprocessingml.document;application/pdf;application/rtf;application/vnd.ms-excel;application/ms-excel;application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;application/vnd.ms-powerpoint;application/vnd.openxmlformats-officedocument.presentationml.presentation;image/jpeg;image/pjpeg" />
      <add key="AddressFieldFormat" value="^[\w*\d*\s*'-./\\*]+$" />
    </ValidationSettings>
  </EsccWebTeam.FormControls>
  <newsletters subscribeUrl="http://hostname/path/to/subscribe.aspx" subscribeParam="item" activationUrl="http://hostname/ns" activationParam="c" activationEmailFrom="email address" unsubscribeUrl="http://hostname/path/to/unsubscribe.aspx" unsubscribeParam="i" deactivationUrl="http://hostname/nu" deactivationParam="c" deactivationEmailFrom="email address" competitionEntryUrl="http://hostname/nc" competitionEntryParam="c" copyEmailsTo="email address" testMode="true" />
  <system.web>
    <customErrors mode="On" defaultRedirect="/help/messages/500.htm">
      <error statusCode="404" redirect="/help/messages/404.aspx" />
      <error statusCode="500" redirect="/help/messages/500.htm" />
      <error statusCode="503" redirect="/help/messages/500.htm" />
    </customErrors>
    <httpCookies httpOnlyCookies="true" />
    <httpRuntime maxRequestLength="51200" enableVersionHeader="false" />
    <authentication mode="Windows" />
    <authorization>
      <allow users="*" />
    </authorization>
    <identity impersonate="true" />
    <globalization fileEncoding="utf-8" />
    <compilation batch="false" debug="true" />
    <httpModules>
      <add name="ExceptionPublisher" type="EsccWebTeam.Exceptions.Publishers.PublishExceptionModule, EsccWebTeam.Exceptions.Publishers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
      <add name="MasterPageModule" type="EsccWebTeam.EastSussexGovUK.MasterPages.MasterPageModule, EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
      <add name="RewriteByExtensionModule" type="EsccWebTeam.EastSussexGovUK.MasterPages.Data.RewriteByExtensionModule, EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
      <add name="EnforceCmsHostModule" type="EsccWebTeam.Cms.EnforceCmsHostModule, EsccWebTeam.Cms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
      <add name="FixCmsRequestModule" type="EsccWebTeam.Cms.FixCmsRequestModule, EsccWebTeam.Cms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
    </httpModules>
    <pages enableSessionState="true" enableViewState="true" enableViewStateMac="true" validateRequest="true">
      <controls>
        <add tagPrefix="Cms" namespace="Microsoft.ContentManagement.WebControls" assembly="Microsoft.ContentManagement.WebControls" />
        <add tagPrefix="Cms" namespace="EsccWebTeam.Cms" assembly="EsccWebTeam.Cms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="CmsPlaceholders" namespace="EsccWebTeam.Cms.Placeholders" assembly="EsccWebTeam.Cms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="CmsWebAuthor" tagName="Console" src="~/path/to/defaultconsole.ascx" />
        <add tagPrefix="CmsWebAuthor" namespace="EsccWebTeam.Cms.WebAuthor.Controls.PropertyPlaceholder" assembly="EsccWebTeam.Cms.WebAuthor, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="EastSussexGovUK" namespace="EsccWebTeam.EastSussexGovUK" assembly="EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="EastSussexGovUK" namespace="EsccWebTeam.EastSussexGovUK.MasterPages.Controls" assembly="EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="EastSussexGovUK" tagName="Share" src="~/path/to/share.ascx" />
        <add tagPrefix="EastSussexGovUK" tagName="SocialMediaDesktop" src="~/path/to/SocialMediaDesktop.ascx" />
        <add tagPrefix="EastSussexGovUK" tagName="SocialMediaMobile" src="~/path/to/SocialMediaMobile.ascx" />
        <add tagPrefix="EastSussexGovUK" tagName="Related" src="~/path/to/related.ascx" />
        <add tagPrefix="Egms" namespace="eastsussexgovuk.webservices.EgmsWebMetadata" assembly="EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="Egms" namespace="EsccWebTeam.Egms" assembly="EsccWebTeam.Egms, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="Feeds" namespace="EsccWebTeam.Feeds" assembly="EsccWebTeam.Feeds, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="FormControls" namespace="EsccWebTeam.FormControls" assembly="EsccWebTeam.FormControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="FormControls" namespace="eastsussexgovuk.webservices.FormControls" assembly="EsccWebTeam.FormControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="FormControls" namespace="eastsussexgovuk.webservices.FormControls.CustomControls" assembly="EsccWebTeam.FormControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="Gdsc" namespace="EsccWebTeam.Gdsc" assembly="EsccWebTeam.Gdsc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="HouseStyle" namespace="EsccWebTeam.HouseStyle" assembly="EsccWebTeam.HouseStyle, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="NavigationControls" namespace="EsccWebTeam.NavigationControls" assembly="EsccWebTeam.NavigationControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="ServiceClosures" assembly="EsccWebTeam.ServiceClosures, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" namespace="EsccWebTeam.ServiceClosures" />
        <add tagPrefix="Validators" namespace="EsccWebTeam.FormControls.Validators" assembly="EsccWebTeam.FormControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
        <add tagPrefix="Validators" namespace="eastsussexgovuk.webservices.FormControls.Validators" assembly="EsccWebTeam.FormControls, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
      </controls>
    </pages>
  </system.web>
  <!-- Additional HTTP modules break CMS import/export, so exclude them -->
  <location path="MCMS">
    <system.web>
      <httpModules>
        <clear />
      </httpModules>
    </system.web>
  </location>
  <system.webServer>
    <handlers>
      <add name="iCalendar download" path="*.ics" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="iCalendar pre-download page" path="*.calendar" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv4.0,bitness32" />
      <add name="JS Files" path="*.jsx" verb="GET" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,bitness32" />
      <add name="CSS Files" path="*.cssx" verb="GET" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,bitness32" />
    </handlers>
  </system.webServer>
</configuration>
