<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ServiceAlertsUrl" value="https://hostname/service-alerts" />
  </appSettings>

  <system.webServer>
    <handlers>
      <remove name="CombineStaticFilesHandlerJs"/>
      <add verb="GET" path="*.jsx" name="CombineStaticFilesHandlerJs" type="Escc.ClientDependencyFramework.WebForms.CombineStaticFilesHandler, Escc.ClientDependencyFramework.WebForms"/>
    </handlers>
  </system.webServer>
</configuration>
