<?xml version="1.0"?>
<configuration>
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="ClientDependency" namespace="Escc.ClientDependencyFramework.WebForms" assembly="Escc.ClientDependencyFramework.WebForms" />
      </controls>
    </pages>
  </system.web>
  <system.webServer>
      <handlers>
        <add name="CorsForStaticFilesHandler" verb="GET" path="*.html" type="EsccWebTeam.EastSussexGovUK.MasterPages.Controls.CorsForStaticFilesHandler, EsccWebTeam.EastSussexGovUK"/>
      </handlers>
    </system.webServer>
</configuration>
