<?xml version="1.0"?>
<configuration>
  <EsccWebTeam.EastSussexGovUK>
    <GeneralSettings>
      <add key="BaseUrl" value="https://hostname" />
    </GeneralSettings>
  </EsccWebTeam.EastSussexGovUK>
  <EsccWebTeam.Egms>
    <CssFiles>
      <remove key="HandlerPath" />
      <add key="HandlerPath" value="//hostname/css/{0}-{1}-v2.cssx" />
    </CssFiles>
    <ScriptFiles>
      <remove key="HandlerPath" />
      <add key="HandlerPath" value="https://hostname/js/{0}-{1}-v2.jsx" />
    </ScriptFiles>
  </EsccWebTeam.Egms>
</configuration>
