<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Escc.AddressAndPersonalDetails" version="2.0.0" targetFramework="net452" />
  <package id="Escc.AddressAndPersonalDetails.Controls" version="2.0.1" targetFramework="net452" />
  <package id="Escc.Html" version="2.0.0" targetFramework="net452" />
  <package id="Escc.Net" version="1.0.1" targetFramework="net452" />
  <package id="Exceptionless" version="1.5.2121" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="net452" />
</packages>