<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RedirectsReader" connectionString="" />
  </connectionStrings>
  
  <system.web>
    <customErrors mode="RemoteOnly">
      <error statusCode="400" redirect="https://www.eastsussex.gov.uk/masterpages/status400.aspx" />
      <error statusCode="403" redirect="https://www.eastsussex.gov.uk/masterpages/status403.aspx" />
      <error statusCode="404" redirect="https://www.eastsussex.gov.uk/help/messages/404.aspx" />
      <error statusCode="500" redirect="https://www.eastsussex.gov.uk/help/messages/500.aspx" />
    </customErrors>
  </system.web>
  
  <system.webServer>
    <defaultDocument>
      <files>
        <clear/>
        <add value="default.aspx"/>
      </files>
    </defaultDocument>
    
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="400" subStatusCode="-1" />
      <remove statusCode="403" subStatusCode="-1" />
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="400" subStatusCode="-1" path="https://www.eastsussex.gov.uk/masterpages/status400.aspx" responseMode="Redirect" />
      <error statusCode="403" subStatusCode="-1" path="https://www.eastsussex.gov.uk/masterpages/status403.aspx" responseMode="Redirect" />
      <error statusCode="404" subStatusCode="-1" path="https://www.eastsussex.gov.uk/help/messages/404.aspx" responseMode="Redirect" />
      <error statusCode="500" subStatusCode="-1" path="https://www.eastsussex.gov.uk/help/messages/500.aspx" responseMode="Redirect" />
    </httpErrors>

    <modules>
      <add name="RedirectsModule" type="Escc.Redirects.RedirectsModule" />
    </modules>
  </system.webServer>
</configuration>
