<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="RedirectsReader" connectionString="" />
  </connectionStrings>
  
  <system.web>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="http://www.eastsussex.gov.uk/help/messages/404.aspx" />
      <error statusCode="500" redirect="http://www.eastsussex.gov.uk/help/messages/500.aspx" />
    </customErrors>
  </system.web>
  
  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="-1" />
      <remove statusCode="500" subStatusCode="-1" />
      <error statusCode="404" subStatusCode="-1" path="http://www.eastsussex.gov.uk/help/messages/404.aspx" responseMode="Redirect" />
      <error statusCode="500" subStatusCode="-1" path="http://www.eastsussex.gov.uk/help/messages/500.aspx" responseMode="Redirect" />
    </httpErrors>

    <modules>
      <add name="RedirectsModule" type="Escc.Redirects.RedirectsModule" />
    </modules>
  </system.webServer>
</configuration>
