<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <handlers>
      <add verb="GET" path="*.cssx" name="CombineStaticFilesHandlerCss" type="Escc.ClientDependencyFramework.WebForms.CombineStaticFilesHandler, Escc.ClientDependencyFramework.WebForms"/>
    </handlers>
  </system.webServer>
</configuration>
