@using Escc.EastSussexGovUK.Features
@model Escc.EastSussexGovUK.Core.BaseViewModel
@if (Model != null && Model.ShowEscisWidget)
{
    @await Html.PartialAsync("~/_EastSussexGovUK_FeatureDependency.cshtml", new EscisSearch() { ShowEscisSearch = Model.ShowEscisWidget})
    <div class="supporting escis large"></div>
}
