<?xml version="1.0"?>
<configuration>
    <system.webServer>
      <handlers>
        <add name="CorsForStaticFilesHandler" verb="GET" path="*.html" type="EsccWebTeam.EastSussexGovUK.MasterPages.Controls.CorsForStaticFilesHandler, EsccWebTeam.EastSussexGovUK"/>
      </handlers>
    </system.webServer>
</configuration>
