<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- There's no command for "insert if missing" so this transform uses a workaround to ensure it'll work on any config file that has at least the root <configuration /> element.
       The workaround is to insert the element you want regardless of whether it's already there, and if there are now two remove the second one. 
       -->
  <system.web xdt:Transform="Insert" />
  <system.web xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web[2])" />

  <system.web>
    <customErrors xdt:Transform="Remove" />
    <customErrors mode="RemoteOnly" xdt:Transform="Insert" />
  </system.web>

  <system.webServer xdt:Transform="Insert" />
  <system.webServer xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer[2])" />

  <system.webServer>
    <httpErrors xdt:Transform="Insert" />
    <httpErrors xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/httpErrors[2])" />
  </system.webServer>

  <system.webServer>
    <httpErrors errorMode="Custom" existingResponse="Replace" xdt:Transform="SetAttributes">
      <remove statusCode="400" xdt:Transform="Remove" xdt:Locator="Match(statusCode)" />
      <remove statusCode="403" xdt:Transform="Remove" xdt:Locator="Match(statusCode)" />
      <remove statusCode="404" xdt:Transform="Remove" xdt:Locator="Match(statusCode)" />
      <remove statusCode="500" xdt:Transform="Remove" xdt:Locator="Match(statusCode)" />
      <error statusCode="400" xdt:Transform="Remove" xdt:Locator="Match(statusCode)" />
      <error statusCode="403" xdt:Transform="Remove" xdt:Locator="Match(statusCode)" />
      <error statusCode="404" xdt:Transform="Remove" xdt:Locator="Match(statusCode)" />
      <error statusCode="500" xdt:Transform="Remove" xdt:Locator="Match(statusCode)" />
      <remove statusCode="400" subStatusCode="-1" xdt:Transform="Insert" />
      <remove statusCode="403" subStatusCode="-1" xdt:Transform="Insert" />
      <remove statusCode="404" subStatusCode="-1" xdt:Transform="Insert" />
      <remove statusCode="500" subStatusCode="-1" xdt:Transform="Insert" />
      <error statusCode="400" subStatusCode="-1" path="/masterpages/status400.aspx" responseMode="ExecuteURL" xdt:Transform="Insert" />
      <error statusCode="403" subStatusCode="-1" path="/masterpages/status403.aspx" responseMode="ExecuteURL" xdt:Transform="Insert" />
      <error statusCode="404" subStatusCode="-1" path="/masterpages/status404.aspx" responseMode="ExecuteURL" xdt:Transform="Insert" />
      <error statusCode="500" subStatusCode="-1" path="/masterpages/status500.aspx" responseMode="ExecuteURL" xdt:Transform="Insert" />
    </httpErrors>
  </system.webServer>
</configuration>
