<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- There's no command for "insert if missing" so this transform uses a workaround to ensure it'll work on any config file that has at least the root <configuration /> element.
       The workaround is to insert the element you want regardless of whether it's already there, and if there are now two remove the second one. 
       
       The configSections element uses a similar but different workaround from http://stackoverflow.com/questions/18737022/xdt-transform-insertbefore-locator-condition-is-ignored
       which ensures that it's the first child of <configuration />
       -->

  <configSections xdt:Transform="InsertBefore(/configuration/*[1])" />
  <configSections xdt:Locator="XPath(/configuration/configSections[last()])">
    <sectionGroup name="Escc.ClientDependencyFramework" xdt:Transform="Insert" />
    <sectionGroup name="Escc.ClientDependencyFramework" xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/sectionGroup[@name='Escc.ClientDependencyFramework'][2])" />
  </configSections>
  <configSections xdt:Transform="RemoveAll" xdt:Locator="Condition(count(*)=0)" />

  <configSections>
    <sectionGroup name="Escc.ClientDependencyFramework" xdt:Locator="Match(name)">
      <section name="MediaQueries" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" xdt:Transform="Insert" />
      <section name="MediaQueries" xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/sectionGroup[@name='Escc.ClientDependencyFramework']/section[@name='MediaQueries'][2])" />
    </sectionGroup>
  </configSections>

  <Escc.ClientDependencyFramework xdt:Transform="Insert" />
  <Escc.ClientDependencyFramework xdt:Transform="Remove" xdt:Locator="XPath(/configuration/Escc.ClientDependencyFramework[2])" />

  <Escc.ClientDependencyFramework>
    <MediaQueries xdt:Transform="Insert" />
    <MediaQueries xdt:Transform="Remove" xdt:Locator="XPath(/configuration/Escc.ClientDependencyFramework/MediaQueries[2])" />
  </Escc.ClientDependencyFramework>

  <Escc.ClientDependencyFramework>
    <MediaQueries>
      <add key="Medium" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Medium" value="only screen and (min-width: 474px)" xdt:Transform="Insert" />
      <add key="Large" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Large" value="only screen and (min-width: 802px)" xdt:Transform="Insert" />
    </MediaQueries>
  </Escc.ClientDependencyFramework>
</configuration>
