/* Remove gradient background from the default skin. Replace with white, else the blue background on body will show through. */
body .body { background: #fff; }

/* Default skin uses a partly-white image to highlight the current section, but it's now on a white background so move the sprite to a different location for this skin. */
body .header #menu a:hover, body .header #menu a:focus, body .header #menu a:active, body .header #menu a.selected:link, body .header #menu a.selected:visited { background-position-y: -124px; }

/* Remove box-shadow from default skin. */
body .full-page, body .article { box-shadow: none; }

@media screen {
    /* Adjust .content to the 12 column context, and limit the effect of .content-medium to the medium breakpoint */
    .content-medium { padding: 0; }
    .content {
        padding: 0 1.863354%;
    }

    /* Adjust .content to the 8 column context created by .article, but no space required on the right because there's a gutter before the next 4 columns */
    .article .content { padding: 0 0 0 2.821317%; }
}

/* Align .breadcrumb with .content and change text size to 16px/18px */
body .breadcrumb { padding: 0 1.863354%; font-size: 1.230769em; line-height: 1.125em; font-family: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif; }

/* Remove breadcrumb styling and use plain links, with a generated content separator */
body .breadcrumb, body .breadcrumb .level1, body .breadcrumb .level2, body .breadcrumb .level3, body .breadcrumb .level4, body .breadcrumb .level5,
body .breadcrumb .level6, body .breadcrumb .level7, body .breadcrumb .level8, body .breadcrumb .level9 { background: none; border: none; color: #000; }
body .breadcrumb li { margin-left: 0; }
body .breadcrumb li, body .breadcrumb .level1 { padding: 0 5px 0 0; }
body .breadcrumb li:after { content: ' >'; }
body .breadcrumb li.current:after {content: ''; }
body .breadcrumb a:link { margin-right: 5px; }
body .breadcrumb a:link { color: #003c69; }
body .breadcrumb a:visited { color: #609; }
body .breadcrumb a:hover, body .breadcrumb a:focus, body .breadcrumb a:active { color: #B80000; text-decoration: underline; }

/* Keep bottom margin of .supporting sections at 18px */
.supporting { margin-bottom: .947368em; }

/* Related links box. 
   
   Update h2 to have 9px spacing below, none above
   Adjust width: still 4 cols in 12, but now minus 2 x 18px gutters for padding

   When combined with .supporting, .related-links normally appears at the top of the right column
   */
.related-links h2 { margin: 0; }
.related-links ul + h2 { margin-top: .947368em;}
.related-links { padding: 1.863354% .947368em; background: #CCEEFA; border-radius: 5px; }
.related-links.supporting { width: 28.364389%; }

/* _Share.cshtml should always be included at the end of the content. 
    This ensures it appears under the main column rather than as part of the right column, regardless of which is longer. */
.share-page { clear: left; }