/* Add some padding to separate from the footer now that the box from the default skin is not a visible separator */
body .full-page, body .article { padding-bottom: 1.384615em; }

/* Box to pull content away from the edges of its containing box by one gutter width. 
   Undo the effect of .text, the old approach, when present (it shouldn't be).
   
   .content-small exists as a way to apply .content only at this breakpoint without it having any effect at larger breakpoints.
   This is useful when applying it to something that is full-width here, but in columns at larger sizes.
*/
@media screen {
    .content, .content-small {
        padding: 0 3.797468%;
    }
    .content .text { padding: 0; }
}

/* Align .breadcrumb-mobile with .content, remove the background panel and change text size to 16px/18px. Margin is 9px total (on 13px base font), but offset by .2em */
body .breadcrumb-mobile { padding-left: 3.797468%;padding-right: 3.797468%; margin: -.2em 0 .892308em; font-size: 1.230769em; line-height: 1.125em; font-family: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif; background: none; box-shadow: none; }

/* Container for text content. Equivalent of .text in the default skin, but increasing the base font size to 16px/24px.

   NOTE: THIS IS NOT ON THE BASELINE GRID. 16px text just doesn't look good with 18px or 27px line-height. The baseline
   grid is less important at small sizes anyway as elements are stacked rather than side-by-side. .text-content will be 
   adjusted back onto the baseline grid in content-medium.css. */
.text-content { font-family: 'Source Sans Pro', Arial, 'Helvetica Neue', Helvetica, sans-serif; font-size: 1.230769em; line-height: 24px;}

/***********************************************
 NOTE: BASE FONT SIZE IN .text-content IS 16px *
 ***********************************************/

/* h1    30/36px, margins 0 and 9px
   h2    26/27px, margins 18px and 9px
   h3    20/27px, margins 18px and 0
   h4-h6 16/18px (unchanged), margins 18px and 0
    */
.text-content h1 { font-size: 1.875em;line-height: 1.2em;margin:0 0 .3em; font-weight: bold;letter-spacing: -0.03em; }
.text-content h2 { font-size: 1.625em;line-height: 1.038462em; margin: .692308em 0 .346154em;letter-spacing: -0.04em;word-spacing: .1em;}
.text-content h3 { font-size: 1.25em;line-height: 1.35em;margin: .9em 0 0;font-weight: bold; letter-spacing: -0.02em;}
.text-content h4 { margin: 1.125em 0 0;font-weight: bold; }
.text-content h5 { margin: 1.125em 0 0; font-weight: bold;font-style: italic; }
.text-content h6 { margin: 1.125em 0 0; font-style: italic; }

/* 9px margins for standard text, 18px for definition title */
.text-content p { margin: .5625em 0;}
.text-content ul, .text-content ol { margin-top: .5625em; margin-bottom: .5625em;}
.text-content dt {margin: 1.125em 0 0; font-weight: bold;}

/* Leading content is emphasised using larger text, 20/27px */
.text-content .lead { font-size: 1.25em;line-height: 1.35em; }

/* Tables - 8px padding in cells, 1px border */
.text-content table, .text-content caption { margin: 1.125em 0;}
.text-content caption, .text-content th { font-weight: bold;}
.text-content th { background: #eee; }
.text-content th, .text-content td { border: .0625em solid #ccc;padding: .5em;}

/* Link icons - larger text size means icons need to move slightly */
.text-content .hcal, .text-content a[href$=".calendar"] { background-position: 0 4px; }
.text-content .rss { background-position: 0 -44px; }
.text-content .email { background-position: 0 -94px; }
.text-content .rss-email  { background-position: 0 -146px; }
.text-content .xml, .text-content a[href$=".xml"] { background-position: 0 -196px; }
.text-content .pdf, .text-content a[href$=".pdf"] { background-position: 0 -246px; }
.text-content .doc, .text-content .rtf, .text-content a[href$=".doc"], .text-content a[href$=".docx"], .text-content a[href$=".dot"], .text-content a[href$=".dotx"], .text-content a[href$=".rtf"] { background-position: 0 -296px; }
.text-content .xls, .text-content .csv, .text-content a[href$=".xls"], .text-content a[href$=".xlsx"], .text-content a[href$=".xlt"], .text-content a[href$=".xltx"], .text-content a[href$=".csv"] { background-position: 0 -346px; }
.text-content .wma, .text-content a[href$=".wma"] { background-position: 0 -398px;  }
.text-content .mp3, .text-content a[href$=".mp3"] { background-position: 0 -448px; }
.text-content .ppt, .text-content a[href$=".ppt"], .text-content a[href$=".pptx"], .text-content a[href$=".pps"], .text-content a[href$=".ppsx"], .text-content a[href$=".pot"], .text-content a[href$=".potx"] { background-position: left -1746px; }
.text-content .jpg, .text-content a[href$=".jpg"], .text-content a[href$=".jpeg"] { background-position: left -2146px; }
.text-content .html, .text-content .file { background-position: left -2448px; }
.text-content .new-window { background-position: 100% -498px; }
.text-content .twitter, .text-content a[href*="twitter.com"] { background-position: 0 -1298px; }
.text-content .facebook, .text-content a[href*="facebook.com"] { background-position: 0 -1348px; }
.text-content .youtube, .text-content a[href*="youtube.com"] { background-position: 0 -1398px; }
.text-content .instagram, .text-content a[href*="instagram.com"] { background-position: 0 -3147px; }
.text-content .flickr, .text-content a[href*="flickr.com"] { background-position: 0 -1448px; }
.text-content a[href$="/print"] { background-position: 0 -696px; }

/* Adjust .quick-answer to change in base font-size */
.text-content .quick-answer { font-size: 1.6875em; }

/* Latest box to highlight new content. Just a coloured background with otherwise standard styles. */
.text-content .latest { margin: 1.125em 0; }
@media screen { .text-content .latest { background: #ddd; padding: 1.125em 18px; } }
@media print { .text-content .latest { padding: 1.125em 0; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}}
.text-content .latest h2 { margin: 0;}
.text-content .latest p:last-child { margin-bottom: 0;}

/* Section nav is used on legacy templates. See small.css for documentation. 
   Here we just adjust to the new base font size. 
*/
.text-content .section-nav { padding: 1.125em; }
.text-content .section-nav ul { margin: 0; }
.text-content .section-nav li { background-position: left -592px; padding: 0 0 .5625em 12px; }
.text-content .section-nav li:last-child { padding-bottom: 0; }

/* Related links box based on a combination of classes:
    
    <div class="supporting content-text related-links content-small content-medium">
        Content here
    </div>

    Add a line space beneath to separate from following content.
    */
.related-links { margin-bottom: 1.125em; }

/* Progress bar.

   Used inside .text-content, between the breadcrumb trail and h1
   Default skin version is defined in the forms stylesheet, but styles are completely redone here so that they'll override the original if present, or work on their own.
   Start in the context of a 16px base font, adjust to 14px/18px using new font, and base measurements in ems on 14px.
*/
.text-content .progressBar { margin: 0 0 1.125em;}
.text-content .progressBar li {float: none; display: inline-block; font-size: .875em; line-height: 1.285714em; margin: .357143em 5px .285714em 0; padding: .3125em 14px .285714em 9px; width: auto;height: auto; min-width: 4em; font-weight: normal; text-align: center; background: #003C69 url(../img/body/navigation.png) no-repeat center right; color: #fff;}

/* To support both plain <li /> elements or links inside <li />, duplicate the <li /> background on <a href="" /> and use negative margins to cancel out padding on <li /> and move it to <a href="" /> */
.text-content .progressBar em, .text-content .progressBar a { margin: -.357143em -14px -.285714em -9px; padding: .357143em 14px .285714em 9px;}
.text-content .progressBar a:link, .text-content .progressBar em { display: block; color: #fff; background: #003C69 url(../img/body/navigation.png) no-repeat center right; text-decoration: none; text-align: center; }

/* Even though :visited styles are the same as :link, specify them separately otherwise IE11 refuses to apply them citing 
   "SEC7115 :visited and :link styles can only differ by color. Some styles were not applied to :visited."
 */
.text-content .progressBar a:visited { color: #fff; background: #003C69 url(../img/body/navigation.png) no-repeat center right; }

/* Current or active stage is a different colour */
.text-content .progressBar .current { background: #00A1DE url(../img/body/navigation.png) no-repeat center right; }
.text-content .progressBar em, .text-content .progressBar a:hover, .text-content .progressBar a:focus, .text-content .progressBar a:active { background-color: #00A1DE;outline: none; }

/* Paging - adjust to new font size */
.text-content .infoBar { margin: .5625em 0; padding: .5625em 18px;border-radius: 5px; }

/* Search results - adjust to new font size */
.text-content dl.itemDetail { padding: 1.125em 0 .6875em; }
.text-content dl.itemDetail dt { margin: 0; }
.text-content dl.itemDetail dd { margin: 0;padding: 0 0 .4375em; }

.text-content dl.onlyItem {padding: 0; margin: 1.125em 0; }
.text-content dl.onlyItem dd { padding: 0; }

/* Clear button for the main action on a page. Equivalent of .major-action in default skin. 
   19px/18px with 9px padding and vertical margins of 9px and 43px (+2px border = 54px total) */
.main-action a { font-size: 1.1875em;line-height: .947368em;display: inline-block;padding: .473684em;margin: .473684em 0 2.263158em; border-bottom: .105263em solid #993003;background: #ED5816;color: #fff; text-decoration: none;letter-spacing: .03em; }
.main-action a:after { content: ' >'}
.main-action a:hover, .main-action a:focus, .main-action a:active { background: #EE4902; }

@media print { .main-action a { border: 1mm solid #ED5816;}}

/* Share links for the bottom of a page, defined in the _Share.cshtml partial view from Escc.EastSussexGovUK.Mvc. 
   9px margin above and below, and 16px text at all screen sizes. */
.text-content .share { margin: .5625em 0; }

/* .shareis for social media sharing icons at the end of a page. Uses image replacement from https://www.sitepoint.com/new-css-image-replacement-technique/
    The email icon is Creative Commons by David Hopkins (semlabs.co.uk) from http://findicons.com/icon/180766/mail2, placed on a blue background from our brand palette.
    https://creativecommons.org/licenses/by/3.0/
*/
.text-content .share a { text-indent: 100%; white-space: nowrap; overflow: hidden; background: url(../img/body/social.png) no-repeat left top; width: 50px; height: 50px; display: inline-block; padding: 0; }
.text-content .share ul { display: block;padding: 0;margin: 0;}
.text-content .share li { display: inline-block;padding: 0;margin: 0;}
.text-content .share a[href*="twitter.com"] {background-position: left -50px; }
.text-content .share a[href*="facebook.com"] {background-position: left -100px; }
.text-content .share a[href*="linkedin.com"] {background-position: left -150px; }

/* Non-JS alternative to Twitter widget has a link which is better wrapped onto a new line */
.twitter-account > a { white-space: nowrap; }