/********************************************
 ********************************************
                 PLEASE
             D O C U M E N T
           E V E R Y T H I N G !

 All comments are stripped from this file  
 for the live site, so don't be shy:

 - say what app it's for
 - say what you were trying to achieve
 - give an example of the HTML
 - note any browser differences/bugs
 - add your name and the date

 ********************************************
 ********************************************

 --------------------------------------------
 QUICK REFERENCE - Handy generic styles
 --------------------------------------------
 .ie8               target IE versions
 .js, .no-js        JavaScript on or off

 .aural             screenreaders only
 .print             print only
 .screen            don't print it
 a.screenUrl        don't print href of this link
 ---------------------------------------------

--------------------------------------------------------------------------------------------------------------------
 S T I C K   T O   T H E   G R I D !
--------------------------------------------------------------------------------------------------------------------

The site layout is based on a LIQUID COLUMN GRID composed of 64px columns separated by 18px gutters, 
and a BASELINE GRID of 18px. You must stick to the grid! See small.css for full details.

The container is now 10 columns or 802px wide.

--------------------------------------------------------------------------------------------------------------------
*/

/**********************
 * LIQUID COLUMN GRID *
 *********************/
 
/* Reusable styles to control when elements appear and disappear */
.small, .large { display: none; }
.medium { display: block; }


/*********************
 * MAIN CONTENT AREA *
 *********************/

/* Section nav appears above latest items and page content. Once we reach this size we can split it into two columns and show an image.
   18px padding + 374px column + 18px gutter + 374px column + 18px padding = 802px/10 columns 
   
   ul is float: left so that, when it's next to a floated image it doesn't need a left margin the same size as the image. 
   That in turn means the image size can remain flexible. .section-nav contains floats using overflow: hidden to avoid side-effects.
*/
.section-nav { overflow: hidden; }
.section-nav img { display: block; float: left; margin: 0 1.076953em 0 0; border: 1px solid #999; }
.section-nav ul { float: left; width: 46.633416%; margin: 0 2.244389% 0 0; }
.rtl .section-nav ul { float: right; }

/* Adjust .text to the 10 column context */
@media screen 
{
    .text { padding: .1px 2.244389% 0; } 
}
.text h1, h1.text { padding: .29166em 2.244389%; } 
.text h1 { margin: 0 -2.244389%; }

/* Two column content using negative margin technique. Each column is 49% wide, 1% gutter between and after right allows for IE6/7 rounding errors.
   Optional container element .tCols contains the floated columns allowing other content to appear after them. 

  <div class="tCols">
    <div class="tCol1" />
    <div class="tCol2" />
  </div>
*/
.text .tCols { overflow: hidden; width: 100%; }
.text .tCol1 { width: 49%; float: left; margin-right: -50%; padding-right: 50%; }
.text .tCol2 { width: 49%; float: right; }

/* Search results where each result is a definition list of fields and values. This is its own section, not within .text. 
   Gutter either side is 18px in 10 cols. 

   Update this layout only if flexbox is supported, as it's flexbox that lets us keep labels and values lined up when they wrap.
*/
.flexbox dl.itemDetail { display: flex; flex-wrap: wrap; }
.flexbox dl.itemDetail dt { width: 20%; margin: 0 5% .538462em 2.244389%; }
.flexbox dl.itemDetail dd { margin: 0 2.244389% .538462em 0; width: 70%; } /* 7px/13px between items */

/* Share box now has room to put buttons side by side */
.share .button-nav { float: left; margin: 0 .5em .692308em 0; }
