/* .menu-nav is the generic version of .guide-nav, which only toggles the menu without assuming styling */
.menu-toggle-medium { display: none;}
.menu-nav, .menu-nav-medium { display: block!important; }

/* See guide-step-medium.css for documentation on .guide-nav. Adjust values here for 8 column context. */
.text-content .guide-nav .first-half { width: 42.589342%;padding-right: 1.410658%;}
.text-content .guide-nav .second-half .step-number { left: 2.821317%; }

/* Rows of boxes must now respect editor's choice of 2 or 3 columns. 
   This can occur in either an 8 column .article context or 12 column .full-page context.

   Scenario 1: 2 template columns in 12 grid columns (12 grid columns - 2 x 18px = 930px context)
               Each template column is 6 grid columns - 18px = 456px

   Scenario 2: 3 template columns in 12 grid columns. Same context.
               From context, subtract 2 x 18px gutters (894px) then divide by 3 for column width (298px)

   Scenario 3: 2 template columns in 8 grid columns (8 grid columns - 18px = 620px context)
               Each template column is 4 grid columns - 9px = 301px

   Scenario 4: 3 template columns in 8 grid columns. Same context.
               From context, subtract 2 x 18px gutters (584px) then divide by 3 for column width (194.66px)
*/
.full-page .two-col { width: 49.032258%; }
.full-page .two-col.odd { margin-right: 1.935484%; }

.full-page .three-col { width: 32.043011%; margin-right: 0; }
.full-page .three-col.group1, .full-page .three-col.group2 { margin-right: 1.935484%;} 

.article .two-col { width: 48.548387%; }
.article .two-col.odd { margin-right: 2.903226%; }

.article .three-col { width: 31.397849%; margin-right: 0;}
.article .three-col.group1, .article .three-col.group2 { margin-right: 2.903226%;} 

/* Previous and next navigation in a series of pages. Designed to work inside .text-content. 
   Adjust for 8 column context: now the link is 3.5 columns, with .5 column for the arrow. */
.prev-next a { width: 43.573668%; }
.prev-next [rel=prev] {padding-left: 6.426332%;}
.prev-next [rel=next] {padding-right: 6.426332%;}

/* Tabbed content 
   Each tab is 2.5 grid columns wide, with vertical space of 18px above and below text.
   Generated content places a down arrow on the selected tab.
*/
.tablist [role=tablist] { margin: .947368em 0 0; }
.tablist [role=tab] { display: inline-block;padding: .947368em 2.821317% .684211em;border-bottom: .263158em solid #003C69; width: 25.078370%;background: #ccc; }
.tablist li[aria-selected=true] { background: #003C69;color: #fff;position: relative; }
.tablist li[aria-selected=true]:after { content: '\25bc';position: absolute;bottom: -20px;right: 2px;color: #003c69; }

/* Using the standard h2 style for accordions is too overpowering at this size, so revert to the standard text size. */
.accordion h2 { font-size: 1em; font-weight: normal; }