/*
    .guide-nav is one list, split into two columns using CSS column-count.

    Below the list is padding, border and a margin adding up to 2 x 27px.

    Keep the font size at 16px/18px so that it's smaller than the surrounding body text, with some added space between items.

    JavaScript hides .guide-nav, which means it gets an inline style. At medium and above .guide-nav should always be 
    visible, so !important overrides that inline style. We need to hide .menu-toggle too because it uses the .small class.
*/
.menu-toggle { display: none;}
.menu-toggle-medium { display: block;}

.text-content .guide-nav { column-count: 2; padding-bottom: 1.368421em;border-bottom: 1px solid #ccc;margin: 1.421053em 0; display: block!important; }
.text-content .guide-nav li { font-size: .842105em;line-height: 1.125em;margin-bottom: .5625em; }

.text-content ol.guide-nav li { padding-left: 8%; }

/* Font-size increases to 19px/27px, to keep in line with standard base font */
.landing-section h2 { line-height: 1.421052em; border-radius: 5px;}

/* Instead of stacking links, display in rows of 2 boxes. Adjust width to context.
   
   Context is 10 columns minus 2 x 18px margins from .content = 766px.
   Width of one .landing-section is 5 cols minus 18px = 374px.
   Gutter is 18px.
   */
.landing-section { display: inline-block;vertical-align: top; width: 48.825065%; }
.landing-section.odd { margin-right: 2.349870% }

/* Previous and next navigation in a series of pages. Designed to work inside .text-content. 
   Adjust for change in base font size: keep same absolute size of 26px/18px.
   Adjust for 10 column context: now the link is 4 columns, with 1 column for the arrow. */
.prev-next { margin: 1.894737em 0 .947368em;}
.prev-next a { width: 38.65337%; }
.prev-next [rel=prev] {padding-left: 7.98005%;}
.prev-next [rel=next] {padding-right: 7.98005%;}

.prev-next a em { font-size: 1.368421em;line-height: 0.947368em;} 