/********************************************
 ********************************************
                 PLEASE
             D O C U M E N T
           E V E R Y T H I N G !

 All comments are stripped from this file  
 for the live site, so don't be shy:

 - say what app it's for
 - say what you were trying to achieve
 - give an example of the HTML
 - note any browser differences/bugs
 - add your name and the date

*********************************************
*********************************************

 --------------------------------------------
 QUICK REFERENCE - Handy generic styles
 --------------------------------------------
 .ie8               target IE versions
 .js, .no-js        JavaScript on or off

 .aural             screenreaders only
 .print             print only
 .screen            don't print it
 a.screenUrl        don't print href of this link
 ---------------------------------------------
 
--------------------------------------------------------------------------------------------------------------------
 S T I C K   T O   T H E   G R I D !
--------------------------------------------------------------------------------------------------------------------

The site layout is based on a LIQUID COLUMN GRID. This is composed of 64px columns separated by 18px gutters. 

This stylesheet starts by defining a 6 column grid, 474px wide in total.
Any wider, and the next stylesheet defines a 10 column grid, 802px in total.
The final stylesheet defines a 12 column grid, 966px in total.
At sizes below and inbetween those totals the columns resize in proportion to the grid.

All major layout containers should be based on this grid, unless you have a good reason to break out of it. 
Within the containers you are free lay out elements as appropriate, but if in doubt stick to the grid.

All widths on the grid must be specified in % values, including horizontal padding, borders and margins. 
The value can be obtained using the formula:

    % value = (px width of columns you want / px width of columns you have now) x 100

Common values are in a spreadsheet at /css/grids.xlsx, but if you are using horizontal padding, borders or 
margins you need to subtract those from the "px width of columns you want" value before calculating, and you
have to specify the padding, border or margin width in % using the same formula.

--------------------------------------------------------------------------------------------------------------------


/****************************************************************** 
 * RESETS FOR ALL MEDIA: html5doctor.com/html-5-reset-stylesheet/ *
 ******************************************************************/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, kbd,
abbr, address, cite, em, img, small, strong, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video 
{ margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; text-align: left; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

/*
Important for body to have a background colour, because otherwise it gets the operating system's default colour which may not be what we want. 
However, in this case the background is the colour needed to extend the footer to the bottom of the browser window even on short pages. The body
of the page (between the header and footer) has to override this later.
*/
body { margin: 0 auto; background: #aee1f4; color: #131313; }

/* .body is the content area of the page; everything between .header-v2 and .footer. Use float and width: 100% to contain any floats rather than
   overflow: hidden, because overflow cuts off the absolutely positioned dialog from the Facebook Like button, which needs to overlap the footer. */
.body { background: #fff; float: left; width: 100%; }
.body .container { padding: .692308em 0; } /* 9px padding top and bottom, but on the container so it can be overriden when required */

/* Set default font to 13px on a baseline grid of 18px */
body, select, input, textarea { font: 13px/1.384615em Arial, "Helvetica Neue", Helvetica, sans-serif; }

/* Support cookie to change text size. 2px increase each time because that's needed for a clear difference. 
   All other text sizes and vertical spacing including the line-height should be based on ems relative to this measurement. */
body.size2, .size2 select, .size2 input, .size2 textarea { font-size: 15px; }
body.size3, .size3 select, .size3 input, .size3 textarea { font-size: 17px; }

/* Align hr to baseline grid, 1px thick with 8px above and 9px below */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: .615384em 0 .692308em; padding: 0; }

strong { font-weight: bold; }

blockquote { quotes: none; }
blockquote:before, blockquote:after { content: ''; content: none; }

abbr[title] { border-bottom: 1px dotted; cursor: help; text-decoration: none;}

/* Align small print to baseline grid, 11px on 18px */
small { font-size: .846154em; line-height: 1.636364em; }

/* Ensure images are resized to fit small screens, but undo for image maps that need to stay at the size the areas are mapped to, 
   and undo for IE8 in tables because it interprets 100% as meaning "100% of however thin the td gets when you completely ignore the image size"
*/
img { max-width: 100%; }
img[usemap] { max-width: none; }
.ie8 table img { max-width: none; }

/********************************
 * LINKS - APPLIES TO ALL MEDIA *
 ********************************
 Colours chosen to meet contrast guidelines from WCAG. All checked against #fff (text), #dae1e5 (nav) and #F6F4E8 (form) backgrounds. 
*/

a:link { color: #003c69; }
a:visited { color: #609; }
a:hover, a:focus, a:active { color: #B80000; }


/******************************** 
 * LISTS - APPLIES TO ALL MEDIA *
 ********************************/
 
/* Reset list margins, with no margin for navigation lists.
   Define multiple levels of nested numbers for complex documents such as the constitution */
ul { margin-left: 1.153846em; }
ol { margin-left: 2em; list-style-type: decimal; }
ol ol {	list-style-type: lower-roman;}
ol ol ol { list-style-type: upper-roman;}
ol ol ol ol { list-style-type: lower-alpha;}
ol ol ol ol ol { list-style-type: upper-alpha;}
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

/* For right-to-left scripts, move bullets to right, and always use browser bullets rather than background images */
html .rtl ul { margin-left: 0; margin-right: 1.153846em; }
html .rtl ol { margin-left: 0; margin-right: 2em; }
html .rtl li { background: none; list-style: disc; }

/********************************* 
 * TABLES - APPLIES TO ALL MEDIA *
 *********************************/
 
table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/*********************************************************************** 
 * FORMS - APPLIES TO ALL MEDIA                                        *    
 * Most form styles are in a dedicated forms stylesheet, but a minimal *
 * set is included here because they are used on the master page.      *
 ***********************************************************************/

select, input, textarea { margin: 0; } /* Webkit adds a 2px margin outside the chrome of form elements */
input, select { vertical-align: middle; }

/* Allow search fields to be styled in Chrome http://code.google.com/p/chromium/issues/detail?id=45835 */
input[type="search"] { -webkit-appearance: textfield; }

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: text-bottom; }

/* This is more-or-less the default border applied by browsers, but need to specify it explicitly because when you 
   apply a background-image to an input, even if you subsequently remove it, IE8 will reset the border to the old 
   inset style. This happens in our case with the .email class. IE8 also does it to password fields. */
input[type=text], input[type=password] { border: 1px solid #9c9c9c; }

/* Placeholder text should meet WCAG contrast guidelines */
::-webkit-input-placeholder, ::-moz-placeholder { color: #777; }

/* Hand cursor on clickable input elements */
label, input[type="submit"], input[type="image"] { cursor: pointer; }

/* The default behaviour for all buttons will be blue with white text and a pointer cursor on hover. 
   .button can be applied to buttons used for navigation outside of a .form
   With CSS3 the buttons will take on curved corners */
.button, .form input[type=submit] { font-size: 1.076923em; line-height: 1em; padding: 7px; font-weight: bold; color: #fff; border: 0; background: #1e5b83; cursor:pointer; border-radius: 4px;  background: -moz-linear-gradient(top, #1e5b83 0%, #0b4164 100%); /* FF3.6+ */
  background: linear-gradient(top, #1e5b83 0%,#0b4164 100%); /* W3C */
                             }
/* CSS3: The buttons will take on curved corners and apply a change of the background color to lighter blue on hover */                             
.button:hover, .form input[type=submit]:hover { border-radius: 4px; border: none; /* 14px font */  
background: #00a1de; /* Old browsers */
background: linear-gradient(top, #00a1de 0%,#47cbed 99%); /* W3C */
}

/* 
    Style navigation as buttons within applications

    .button-nav styles either links or buttons as a secondary button. Apply it to a container element around the links.
    Links themselves have one 18px line of vertical space, split between margin and padding. They may be wrapped in list
    items (li elements) but that is not required.

    Add .application-nav to turn that into a toolbar, to be placed above the page title. Adds another line of vertical space as padding.

    <nav>
        <p class="button-nav application-nav">
           <a href="#">link</a> 
           <a href="#">link</a> 
           <input type="submit" />
        </p>
    </nav>

 */
.button-nav { overflow: hidden; }
.button-nav li { float: left; list-style: none; }
.button-nav a:link, .button-nav a:visited, .button-nav em, .button-nav input { float: left; display: block; margin: 5px 2px 5px 0; padding: 4px 10px; background: #44697d; color: #fff; font-weight: bold; text-decoration: none; white-space: nowrap; border-radius: 3px; border: none; }
.button-nav .selected a:link, .button-nav .selected a:visited, .button-nav a:hover, .button-nav a:visited:hover, .button-nav a:focus, .button-nav a:active, .button-nav em, .button-nav input:hover { background-color: #00a1de; color: #fff; font-style: normal; }
@media print { .button-nav { display: none; } }

.application-nav { margin: 0; padding: 9px 18px; background: #dae1e5; }

/* Grey-out a button when it's disabled. .buttonDisabled class provides support for browsers that don't support :disabled pseudo-class. */
.buttonDisabled, .button-nav .buttonDisabled, .button:disabled, .form input[type=submit]:disabled { background: #777; color: #fff; }


/* A huge unmissable button, for when we really want users to take a particular action on a page.
   Font-size and padding together add up to three line spaces (54px).

   <p class="major-action"><a href="#">link</a></p>
 */
.major-action {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	font: 1.84615em/100% Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: .625em 1em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	border-radius: 6px;
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	color: #e8f0de;
    background: #1e5b83; /* Old browsers */
    background: linear-gradient(to bottom,  #1e5b83 0%,#0b4164 100%); /* W3C */
}
.major-action:hover, .major-action:focus, .major-action:active {
    background: #00a1de; /* Old browsers */
    background: linear-gradient(to bottom,  #00a1de 0%,#47cbed 100%); /* W3C */
}
.major-action:active { position: relative; top: 1px; }

.major-action a:link, .major-action a:visited { text-decoration: none; font-weight: bold; color: #fff; } 

/**
 * Pop-up tip content using BeautyTips.js by Jeff Robbins https://github.com/east-sussex-county-council/BeautyTips
 * This line height is not on the baseline grid but that's OK as the tips are superimposed over the main content, not flowing within it.
 * The tip bubble itself needs styles set in JavaScript, not CSS, as it's drawn using canvas.
 */
.bt-content { font: 16px/24px 'Source Sans Pro', Arial, "Helvetica Neue", Helvetica, sans-serif; color: #131313; }

/**********************
 * LIQUID COLUMN GRID *
 *********************/
 
/* A .container surrounds an instance of the column grid. Contain floats and margins, but do it using the pseudo-class method
   rather than the usual overflow: hidden, because it allows box-shadow to display outside the .container. margin: auto is 
   for screen only because in print we just want to fit automatically to the page. No maximum width yet - if content is too wide 
   we want the background to expand with it. */
@media screen { .container { margin: 0 auto; } }
.container:before, .container:after { content: "."; display: block; height: 0; overflow: hidden; }
.container:after { clear: both; }

/* A context establishes a CSS positioning context */
.context { position: relative; }

/* Reusable styles to control when elements appear and disappear */
.medium, .large { display: none; }
.small { display: block; }

/**********
 * HEADER *
 **********/
 
/* Accessibility links which only show up when they have keyboard focus.
   These aren't scoped to .header-v2 because occasionally there are skip links outside the header (eg A-Z) */
a.keyboard:focus, a.keyboard:active { position: absolute; top: 0; left: 0; clip: auto; padding: 4px; z-index: 999; background: #fff; opacity: .8; font-weight: bold; }
 
/* Start with a container for the header, with the mobile site background. Show the mobile logo, and hide the big logo for use later. 
   In both cases the height of the header is controlled by the height and padding of the logo. 
   Inside .logo-small "East Sussex County Council" is HTML text, so use 15px/18px font to display it. 
   Background colour on .header-v2 shows up when text size increased and small screen size used. Background colour extends below menu so much match bottom of menu. 
*/
.header, .header-v2 { background: #004B7B url(../img/header/mobile.jpg) repeat-x; overflow: hidden; }
.header .logo-small, .header .logo-small:link, .header .logo-small:visited,
.header-v2 .logo-small, .header-v2 .logo-small:link, .header-v2 .logo-small:visited { font-size: 1.153846em; line-height: 1.2em; padding: 4px 0; text-decoration: none; font-weight: bold; color: #003c69; width: 180px; display: block; }
.size2 .header .logo-small, .size2 .header-v2 .logo-small { font-size: 1em; } /* keep at 15px */
.size3 .header .logo-small, .size3 .header-v2 .logo-small { font-size: .882353em; } /* keep at 15px */
.header .logo-small img, .header-v2 .logo-small img { float: left; padding: 3px 8px 0; }
@media print { .header .logo-small img, .header-v2 .logo-small img { padding-left: 0; } }

/* Hide the text size control at this size - need to keep the interface simple. 
   The effect would be applied though, if the user has selected it using the larger template. */
.header .size, .header-v2 .size { display: none; }

/* Display 'contact us' at the top-right above the search. Users should be likely to notice it there. */
.header .contact, .header-v2 .contact { position: absolute; right: 0; top: 0; padding: 4px; font-weight: bold; } 

/* Use negative margin technique from http://www.alistapart.com/articles/negativemargins/ to lay out the menu bar. 
   The idea is to achieve a layout where the menu and "go" button are a fixed size, and the search box expands to
   fill the rest of the space. 

   The search form comes first in the source code as we'll need it there for the desktop layout. It floats right, 
   leaving 120px margin/padding for the menu to slot into and taking the rest of the space for itself.

   Within the search form .term-outer and .term-inner do the same trick in reverse: floating the search box left, 
   leaving 56px space for the 'go' button, and taking up the rest of the space for itself.

   The menu itself is a list of items displayed inline using floats, with most of them hidden, ready to appear when 
   the browser window is big enough.
*/
#search { float: right; width: 100%; margin-left: -120px; }
.size2 #search { margin-left: -140px; }
.size3 #search { margin-left: -160px; }
#search .search-inner { padding-left: 120px; }
.size2 #search .search-inner { padding-left: 140px; }
.size3 #search .search-inner { padding-left: 160px; }

#search .term-outer { float: left; margin-right: -56px; width: 100%; }
#search .term-inner { padding-right: 56px; }

#search .search { border: none; border-radius: 3px; height: 19px; margin: 6px 0; width: 100%; min-width: 80px; }
#search .submit input { border: none; border-radius: 3px; margin: 4px 0 7px 8px; padding: 2px 8px; color: #1e5b83; font-weight: bold; background: #fff; }

/* The breadcrumb trail overlaps the autocomplete suggestions for search, so bring them forward */
.ui-autocomplete { z-index: 100!important; }

#menu { clear: left; float: left; max-width: 120px; }
.size2 #menu { max-width: 140px; }
.size3 #menu { max-width: 160px; }
#menu li { float: left; }
#menu ul, #menu li { list-style: none; margin: 0; } /* repeat style from nav ul, nav li for browsers which don't style nav element, eg Firefox 2 */

#menu a:link, #menu a:visited { display: block; padding: 8px 10px 6px; text-decoration: none; text-align: center; font-weight: bold; color: #fff; background: url(../img/header/menu-item.png) no-repeat right top; }
#menu .socialcare, #menu .business, #menu .community, #menu .education, #menu .environment, #menu .families, #menu .jobs, #menu .leisure, #menu .libraries, #menu .transport, #menu .council { display: none; }

/**********
 * FOOTER *
 **********/

/* 2 lines of space at the top. padding-top: 33px + 3px border-top = 36px on baseline grid.
   Design needs to work with or without .languages present, so padding is on .container rather than .footer
   Background colour for footer comes from the body element, so that it extends to bottom of browser.

   body qualifier on selector introduced to account for inherited styles on FixMyStreet.

    <div class="footer">
        <div class="languages" /> (optional)
        <div class="footer-content" />
    </div>
*/
.footer { clear: both; border-top: .230769em solid #00a1de; } 
body .footer .footer-content { padding-top: 1.153846em; }

/* Put language links on a single line with space between them, and remove underline to improve legibility.
   Padding+border = 1 line space. Use float: left rather than display: inline on the li elements because it works for IE6/7. */
.footer .languages { border-bottom: .230769em solid #00a1de; padding: .615385em 0 .538462em;}
.footer .languages ul { margin: 0 18px; }
.footer .languages li { float: left; margin: 0 1em 0 0; list-style: none; }
.footer .languages .nonLatin { margin: 0 1.3em 0 0; }
.footer .languages a:link, .footer .languages a:visited {padding: 0;background: none; text-decoration: none; }
.footer .languages a:hover, .footer .languages a:focus, .footer .languages a:active { text-decoration: underline; }

/* List of links to ESCC online */
.footer .social { float: left; margin-right: 1em; }
.footer .social span { display: inline-block; }
.footer .social .find { text-decoration: underline; cursor: pointer; }
.footer .online { margin: 0 0 1.384615em 18px; }
.footer h2 { display: none; }
.footer .online li { display: inline; }
.footer .online li a { white-space: nowrap; margin-right: 1em; }

/* Hide the newsletter sign-up and petitions at this size */
.footer .newsletter, .footer .petitions { display: none; }


/*********************
 * MAIN CONTENT AREA *
 *********************/

/* Breadcrumb link for mobile template. 
   Negative top margin counterbalances padding-top: 9px on .container when this control is visible.
   Colour is sampled from header image.
   */
.breadcrumb-mobile { margin: -.692308em 0 .692308em; padding: .384615em .692308em 0;  background: #DBF3FF; box-shadow: 0 .384615em .384615em #DBF3FF; }

/* Section nav appears above latest items and page content. Padding around list is 14px on 13px text size, 7px between items.
   Can be one or two columns of links. A single column can optionally be accompanied by an image.

    <div class="section-nav">
        <img />
        <ul />
    </div>   

    <div class="section-nav">
        <ul />
        <ul />
    </div>
 */
.section-nav { clear: both; background: #dae1e5; padding: 1.076953em; }
.section-nav img { display: none; }
.section-nav ul { margin: 0; }
.section-nav li { list-style: none; background: url(../img/body/item-type.png?v=3) no-repeat left -596px; padding: 0 0 .692308em 1.076953em; }

@media print { .section-nav { padding-left: 0; padding-right: 0; } }

/* A quick answer emphasises the one thing most users want from the current page. Use strong tags to indicate importance.
   27px/36px font for the intro, and 36px/54px font for the datum. 27px padding top and bottom (54px or three lines total). 
   Background is 35% tint of brand colour #056B0B.

   <p class="quick-answer"><strong>The answer is <strong class="quick-answer-datum">this</strong></strong></p> 
*/
.quick-answer { font-size: 2.076923em; line-height: 1.33em; clear: both; padding: 1em; text-align: center; background: #A7CBA9; color: #000; }
.quick-answer strong { font-weight: normal; }
strong.quick-answer-datum { font-size: 1.33em; line-height: 1.5em; font-weight: bold; display: block; text-align: center; }

/* Box to pull content away from the edges of its containing box. 
   In Firefox 3.6 there's a gap when .text follows some elements and padding-top is 0, but padding-top .1px rounds down to 0 and closes the gap. 
   */
@media screen 
{
    .text { padding: .1px 3.797468% 0; background: #fff; } 
}

/* Standard elements within a .text area. 
   h1 margin matches padding of .text to make the line below span the box. 
   [headinglevel].text and p.text can be used independently because they often appear on their own, and it saves adding an extra element
*/
.text h1, h1.text { font-weight: bold; font-size: 1.846153em; line-height: 1.5em; border-bottom: .208333em solid #bed600; padding: .375em 3.797468% .2083em; background: #fff; color: #272727; } /* 24px/36px */
.text h1 { margin: 0 -3.797468%; }
@media print { .text h1, h1.text { padding-left: 0; padding-right: 0; margin-left: 0; margin-right: 0; } }
.text h2, h2.text { font-weight: bold; font-size: 1.230769em; line-height: 1.125em; margin: .875em 0 .25em; color: #272727; } /* 16px/18px */
.text h3, h3.text { font-weight: bold; font-size: 1.076923em; line-height: 1.285714em; margin: 1.285714em 0 0; color: #272727; } /* 14px/18px */
.text h4, h4.text, .text h5, h5.text { font-weight: bold; font-size: 1em; line-height: 1.384615em; margin: 1em 0 .285714em; color: #272727; } /* 13px/18px */
.text h5, h5.text { font-style: italic; }
.text p, p.text { margin: .692308em 0; }

.text ul { margin: .692308em 0 .692308em 1.153846em; }
.text ol { margin: .692308em 0 .692308em 2em; }
.text dl { margin: 1.384615em 0; }
.text dt { margin: .692308em 0 0; font-weight: bold; }
.text dd { margin: 0 0 .692308em; }

/* Standard data tables */
.text table { margin: .692308em 0; width: 100%; } /* 1/2 line space above and below */
.text caption { font-size: 1.076923em; line-height: 1.285714em; font-weight: bold; padding: 9px 0; } /* 14px/18px */
.text tbody { border-top: 2px solid #ECECEC; } /* top border for table when there's no thead */
.text tr { background: #ececec; border-bottom: 2px solid #fff; } /* standard grey background with white borders */
.text tr:nth-child(odd), .text tr:nth-child(even) { border-bottom: none; border-left: 2px solid #ececec; border-right: 2px solid #ececec; } /* Change borders only when nth-child is supported */
.text tr:nth-child(odd) { background: #fff; } /* Use alternate row colours instead when nth-child supported */
.text table:nth-child(odd), .text table:nth-child(even) { border-bottom: 2px solid #ececec; } /* And ensure table has bottom border in that case. Have to apply to odd and even rather than last-child because, if rowspan is used, some cells at the bottom of the table may not actually be in the last-child row */
.text thead tr:nth-child(odd), .text thead tr:nth-child(even) { border-left: 2px solid #c7dbe4; border-right: 2px solid #c7dbe4; border-bottom: 2px solid #fff; } /* Change borders only when nth-child is supported */
.text thead th { background-color: #c7dbe4; font-weight: bold; } /* Using background-colour rather than background to support old tables with .pdf applied to th */
.text td, .text th { padding: .307692em; }

@media print 
{
.text tbody, .text tr, .text td, .text th { border: 1px solid #dae1e5; }
.text thead tr:nth-child(odd), .text thead tr:nth-child(even), .text tr:nth-child(odd), .text tr:nth-child(even) { border: 1px solid #dae1e5; }
}

/* .numeric on any td or th aligns content to right. 
   table.complexData has extra borders to make complex structures clearer. */
.text table .numeric { text-align: right; }
.text .complexData th { border-right: 2px solid #fff; }
.text table .totalsRow { font-weight: bold; background: #777; color: #fff; border-bottom: none; border-color: #bbb; }
.text table .subHeading { font-weight: bold; }

/* Secondary actions inside a table row */
.text table .button-nav { text-align: center; }
.text table .button-nav input { float: none; display: inline; margin: 0; }

/* Information about download format and size */
.text .downloadDetail { font-size: .846154em; line-height: 1.636364em; } 

/* Warn the user of something. For error messages use .errorSummary defined in forms.css */
.warning { color: #b21313; }

/* Paging 

    In WebForms the HTML is:
    
    <div class="infoBar">
	    <div class="pagingResultsInContext"><span class="pagingCurrentResults">1–5</span> of 100 items</div>
        <div class="pagingPages"><em>1</em> <a href="/example.aspx?page=2">2</a> <a href="/example.aspx?page=3">3</a> <a href="/example.aspx?page=4">4</a> <a href="/example.aspx?page=5">5</a> … <a href="/example.aspx?page=24">20</a> <a href="/example.aspx?page=2">Next &gt;</a></div>
    </div>

    In MVC using the PagedList NuGet package:

    <div class="infoBar">
        <div class="pagingResultsInContext">1–10 of 58 results</div>
        <ul class="pagingPages">
            <li class="active"><span>1</span></li>
            <li><a href="/example?page=2">2</a></li>
            <li><a href="/example?page=3">3</a></li>
            <li><a href="/example?page=4">4</a></li>
            <li><a href="/example?page=5">5</a></li>
            <li class="PagedList-ellipses">…</li>
            <li class="PagedList-skipToNext"><a href="/example?page=2" rel="next">Next &gt;</a></li>
        </ul>
    </div>
*/
.infoBar { clear: both; margin: .692308em 0; background: #cceefa; padding: .692308em 18px; overflow: hidden; }
.infoBar .pagingResultsInContext { float: right; }

ul.pagingPages { margin: 0;}
ul.pagingPages li { display: inline;list-style: none;margin-right:.2em;}

/* Search results where each result is a definition list of fields and values. This is its own section, not within .text. 
   If there's just one result, can apply .onlyItem as well as .itemDetail to remove dividers. */
dl.itemDetail { border-bottom: 1px solid #ccc; padding: 1.384615em 0 .846153em; } /* One 18px line space above and below (below is added to bottom margin of dd) */
dl.itemDetail dt { margin: 0 18px; font-weight: bold; }
dl.itemDetail dd { margin: 0 18px; padding: 0 0 .538462em 0; } /* 7px/13px between items */

dl.onlyItem { border: none; padding: .692308em 0 .153846em; }

/* Semantic web - display links to calendars, RSS feeds etc, optionally within a list
   Example: <a class="rss subscribe" href="/path/to/rssfeed.rss">RSS feed</a> */
a.subscribe { display: block; margin: .692308em 0; } /* 9px/13px line-space split above and below */
@media screen 
{ 
    ul.subscribe { list-style: none; margin: .692308em 0; }
    a.subscribe { padding: 0 0 0 23px; } 
} /* No padding in print because it's there to accomodate a background image */

/* Semantic web - microformats */
.vevent .uid { display: none; }
.vcard .email { background: none; padding-left: 0; }

/* Supporting content sits under an .article.
   .supporting offers just the placement
   .supporting-text offers placement with some standard formatting. 
*/
.supporting { clear: both; }

/* Header for a .supporting-text. Bottom padding+border+margin = 1 line space. Horizontal padding/margin is 18px, but adjusted so that is actually reaches the edges. 
   Change list bullets to blue. */
.supporting-text { clear: both; margin: 1.384615em 0; border-top: 1px solid #dae1e5; padding: 1.307692em 18px 0; }
.supporting-text h2 { font-size: 1.230769em; line-height: 1.125em; font-weight: bold; }
.supporting-text h2 a { font-weight: normal; padding-right: 32px; background: url(../img/body/item-type.png?v=3) no-repeat right -595px; }  
.supporting-text ul { margin: 9px 0; }
.supporting-text li { list-style: none; background: url(../img/body/item-type.png?v=3) no-repeat 0 -995px; padding-left: 16px; }

@media print { .supporting-text { padding-left: 0; padding-right: 0; } }

/* Don't show adverts in mobile view, and hide the old share control until all instances have been removed */
.advert, .share-page { display: none; }


/**********************
* LINKS - SCREEN ONLY *
***********************/

/* Some link types have an icon to show what they lead to. This is in a screen-only section
   as background images don't usually print, so we don't want the empty space from the padding.
   Use separate background properties as it avoids changing the background colour, should the element have one. 
   Qualify selectors with the 'a' element to avoid styling <area /> elements in an image map.
*/
@media screen
{
.hcal, a[href$=".calendar"], .rss, .email, .rss-email, .xml, a[href$=".xml"], .pdf, a[href$=".pdf"], .wma, a[href$=".wma"], .mp3, a[href$=".mp3"],
.doc, .docx, a[href$=".doc"], a[href$=".docx"], a[href$=".dot"], a[href$=".dotx"], .rtf, a[href$=".rtf"], .xls, a[href$=".xls"], a[href$=".xlsx"], a[href$=".xlt"], a[href$=".xltx"], .csv, a[href$=".csv"], 
.ppt, a[href$=".ppt"], a[href$=".pptx"], a[href$=".pps"], a[href$=".ppsx"], a[href$=".pot"], a[href$=".potx"], .jpg, a[href$=".jpg"], a[href$=".jpeg"], .html, .file, 
.new-window, .facebook, a[href*="facebook.com"], .twitter, a[href*="twitter.com"], .youtube, a[href*="youtube.com"], a[href*="youtu.be"], .instagram, a[href*="instagram.com"], .flickr, a[href*="flickr.com"], a[href$="/print"]
{ background-image: url(../img/body/item-type.png?v=3); background-repeat: no-repeat; padding-left: 23px; }

.hcal, a[href$=".calendar"] { background-position: 0 0; }
.rss { background-position: 0 -48px; }
.email { background-position: 0 -97px; padding-left: 19px; }
.rss-email  { background-position: 0 -150px; }
.xml, a[href$=".xml"] { background-position: 0 -200px; padding-left: 30px;  }
.pdf, a[href$=".pdf"] { background-position: 0 -248px; }
.doc, .docx, .dot, .dotx, .rtf, a[href$=".doc"], a[href$=".docx"], a[href$=".dot"], a[href$=".dotx"], a[href$=".rtf"] { background-position: 0 -298px; padding-left: 20px;  }
.xls, .xlsx, .xlt, .xltx, .csv, a[href$=".xls"], a[href$=".xlsx"], a[href$=".xlt"], a[href$=".xltx"], a[href$=".csv"] { background-position: 0 -350px; padding-left: 18px;  }
.wma, a[href$=".wma"] { background-position: 0 -400px;  }
.mp3, a[href$=".mp3"] { background-position: 0 -450px; padding-left: 20px;  }
.ppt, a[href$=".ppt"], a[href$=".pptx"], a[href$=".pps"], a[href$=".ppsx"], a[href$=".pot"], a[href$=".potx"] { background-position: left -1748px; padding-left: 20px; }
.jpg, a[href$=".jpg"], a[href$=".jpeg"] { background-position: left -2148px; }
.html, .file { background-position: left -2450px; }
.new-window { background-position: 100% -500px; padding-left: 0; padding-right: 16px; }
.twitter, a[href*="twitter.com"] { background-position: 0 -1300px; padding-left: 20px; }
.facebook, a[href*="facebook.com"] { background-position: 0 -1350px; padding-left: 20px; }
.youtube, a[href*="youtube.com"], a[href*="youtu.be"] { background-position: 0 -1400px; padding-left: 20px; }
.flickr, a[href*="flickr.com"] { background-position: 0 -1450px; padding-left: 20px; }
.instagram, a[href*="instagram.com"] { background-position: 0 -3150px; padding-left: 20px; }
[href$="/print"] { background-position: 0 -700px; }

/* Don't add nested icons for structure used by social media mobile control:
   <p class="twitter">Follow us: <a href="http://twitter.com/eastsussexcc">@eastsussexcc</a></p>
*/
.twitter a[href*="twitter.com"],
.facebook a[href*="facebook.com"] { background: none; padding-left: 0; }


/* If a list item contains only a link to a download, replace the bullet with the file type icon. Margin offsets the standard indent for lists. */
li.download { list-style: none; margin: .692308em 0 .692308em -1.153846em; padding-left: 23px; text-indent: -23px; }
    
} /* End "@media screen" section */


/*********************************************** 
 * SCREENREADERS ONLY: j.mp/visuallyhidden *
 ***********************************************/
.aural { position: absolute;
  clip: rect(1px, 1px, 1px, 1px); }

/*********************************************** 
 * HIDDEN TECHNICAL COMPONENTS, eg iframes
 ***********************************************/
.hidden { display: none;}