/* Common controls to use on layouts for mobiles */

/* Toggle to show/hide a menu at the top of a page:

   <nav class="menu-toggle menu-toggle-show small medium">Show menu</nav> 
   which becomes:
   <nav class="menu-toggle menu-toggle-hide small medium">Hide menu</nav>

   May be used on another element inside nav rather than directly on nav. For that case
   the body selector is included to allow it to override eg ".text p" styles.
*/
body .menu-toggle { margin: 0; padding: .692308em 1.898734%; background: #ddd; color: #000; }
body .menu-toggle a { display: block; text-decoration: none; font-weight: bold; color: #000; }

/* Add an arrow to the show/hide links */
.menu-toggle-show:after {content: '\25bc';padding-left: .5em;font-size: .75em;vertical-align: baseline;}
.menu-toggle-hide:after {content: '\25b2';padding-left: .5em;font-size: .75em;vertical-align: baseline;}