/* A poll is displayed in the right column alongside an .article, and the basic properties of its box are
   inherited from .supporting-text, which must also be applied.
   
    <div class="poll supporting-text">
    </div>
*/
.poll { display: block; }

/* A poll is a series of radio buttons, so absolutely position the buttons inside their labels to create a handing indent. */
.poll label { position: relative; display: block; padding: 0 0 0 20px; }
.poll label input { position: absolute; left: 0; top: 2px; }
.poll .button { margin: .692308em 0; }

.ie8 .poll label input { top: 0; }
.ie67 .poll label input { top: -3px; }
.ie6 .poll label input { left: -23px; }

/* Poll results are a series of answers with bars representing the percentage of people choosing that answer. 
   <span class="percent" /> can be a child or sibling of <span class="bar" /> depending on the percent value.
   The vertical margin on .pollBarBack adds up to one line space (18px).

    <div class="pollAnswer" />
    <span class="pollBackBar">
        <span class="bar">
            <span class="percent" />
        </span>
        <span class="percent" />
    </span>
*/

.poll .pollAnswer { clear: both; }
.poll .pollBackBar { display: block; background: #dae1e5; margin: .307692em 0 1.076923em; font-weight: bold; overflow: hidden; width: 100%; }
.poll .bar { float: left; background: #ff5800; color: #fff; text-align: right; }
.poll .percent { padding: 0 2px; }