<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EsccWebTeam.EastSussexGovUK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>

    <sectionGroup name="EsccWebTeam.EastSussexGovUK">
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="BreadcrumbTrail" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <section name="RemoteMasterPage" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>

    <!-- Enable this section if your application accesses the Internet via a proxy server -->
    <!-- 
    <sectionGroup name="Escc.Net">
      <section name="Proxy" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
    -->
  </configSections>

  <!-- Enable this section if your application accesses the Internet via a proxy server -->
  <!-- 
  <Escc.Net>
    <Proxy>
      <add key="Server" value="ip_address"/>
      <add key="User" value="username"/>
      <add key="Domain" value="domain"/>
      <add key="Password" value="password"/>
    </Proxy>
  </EsccWebTeam.Data.Xml>
  -->

  <EsccWebTeam.EastSussexGovUK>
    <!-- 
    Each element in the BreadcrumbTrail section creates one link on the breadcrumb trail. Add or remove elements to create an 
    appropriate breadcrumb trail as advised by East Sussex County Council web staff. 
    -->
    <BreadcrumbTrail>
      <add key="Home" value="https://www.eastsussex.gov.uk/" />
      <add key="Example section" value="https://www.eastsussex.gov.uk/example/" />
      <add key="Example section" value="https://www.eastsussex.gov.uk/example/example/" />
    </BreadcrumbTrail>
    
    <!--
    You should not need to change the GeneralSettings. Ensure that the referenced files are in the referenced folder at the 
    root of your application.
    -->
    <GeneralSettings>
      <add key="MasterPageParameterName" value="template" />
      <add key="DesktopMasterPage" value="~/path to Desktop.master" />
      <add key="PlainMasterPage" value="~/path to Plain.master" />
    </GeneralSettings>
    
    <!--
    These settings control how the template is fetched from our website. 
    If your application runs over HTTPS, change the MasterPageControlUrl setting so that it also starts with "https://"
    -->
    <RemoteMasterPage>
      <add key="CacheMinutes" value="60" />
      <add key="MasterPageControlUrl" value="URL to load controls from, ending in control.aspx?control={0}" />
    </RemoteMasterPage>
  </EsccWebTeam.EastSussexGovUK>

  <system.web>
    <httpModules>
      <!-- The MasterPageModule is an important part of how the template adapts to mobile devices and should be left in place. -->
      <add name="MasterPageModule" type="EsccWebTeam.EastSussexGovUK.MasterPages.MasterPageModule, EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" />
    </httpModules>
      <pages masterPageFile="~/path to desktop.master">
    </pages>
  </system.web>
</configuration>