<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- There's no command for "insert if missing" so this transform uses a workaround to ensure it'll work on any config file that has at least the root <configuration /> element.
       The workaround is to insert the element you want regardless of whether it's already there, and if there are now two remove the second one. 
       
       The configSections element uses a similar but different workaround from http://stackoverflow.com/questions/18737022/xdt-transform-insertbefore-locator-condition-is-ignored
       which ensures that it's the first child of <configuration />
       -->

  <configSections xdt:Transform="InsertBefore(/configuration/*[1])" />
  <configSections xdt:Locator="XPath(/configuration/configSections[last()])">
    <sectionGroup name="EsccWebTeam.Data.Web" xdt:Transform="Insert" />
    <sectionGroup name="EsccWebTeam.Data.Web" xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/sectionGroup[@name='EsccWebTeam.Data.Web'][2])" />
  </configSections>
  <configSections xdt:Transform="RemoveAll" xdt:Locator="Condition(count(*)=0)" />

  <configSections>
    <sectionGroup name="EsccWebTeam.Data.Web" xdt:Locator="Match(name)">
      <section name="ContentSecurityPolicy" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" xdt:Transform="Insert" />
      <section name="ContentSecurityPolicy" xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/sectionGroup[@name='EsccWebTeam.Data.Web']/section[@name='ContentSecurityPolicy'][2])" />
    </sectionGroup>
  </configSections>

  <EsccWebTeam.Data.Web xdt:Transform="Insert" />
  <EsccWebTeam.Data.Web xdt:Transform="Remove" xdt:Locator="XPath(/configuration/EsccWebTeam.Data.Web[2])" />

  <EsccWebTeam.Data.Web>
    <ContentSecurityPolicy xdt:Transform="Remove" />
    <ContentSecurityPolicy xdt:Transform="Insert">
      <add key="Default" value="default-src 'none'; script-src 'self' https://www.eastsussex.gov.uk https://new.eastsussex.gov.uk https://ajax.googleapis.com; style-src 'self' https://www.eastsussex.gov.uk https://new.eastsussex.gov.uk; img-src 'self' data: https://www.eastsussex.gov.uk https://new.eastsussex.gov.uk https://eastsussexgovuk.blob.core.windows.net https://eastsussexgovukstorage.blob.core.windows.net; connect-src 'self' https://www.eastsussex.gov.uk https://new.eastsussex.gov.uk; object-src 'self'; report-uri https://report-uri.io/report/eastsussexgovuk" />
      <add key="GoogleAnalytics" value="script-src https://www.google-analytics.com; img-src https://www.google-analytics.com" />
      <add key="GoogleMaps" value="script-src https://*.googleapis.com https://maps.gstatic.com 'unsafe-eval'; img-src https://*.gstatic.com https://*.googleapis.com; style-src 'unsafe-inline'; frame-src https://maps.google.co.uk https://www.google.com" />
      <add key="GoogleContentExperiments" value="script-src 'unsafe-inline';" />
      <add key="GoogleTagManager" value="script-src https://www.googletagmanager.com" />
      <add key="GoogleFonts" value="font-src https://fonts.gstatic.com; style-src https://fonts.googleapis.com" />
      <add key="CrazyEgg" value="script-src https://script.crazyegg.com" />
      <add key="Facebook" value="script-src https://connect.facebook.net 'unsafe-eval' 'unsafe-inline'; img-src https://www.facebook.com; style-src 'unsafe-inline'; frame-src https://*.facebook.com" />
      <add key="Twitter" value="script-src https://*.twitter.com https://*.twimg.com 'unsafe-inline'; frame-src https://*.twitter.com; style-src https://platform.twitter.com 'unsafe-inline'; img-src https://*.twitter.com https://*.twimg.com data:" />
      <add key="YouTube" value="frame-src https://www.youtube-nocookie.com" />
      <add key="EastSussex1Space" value="img-src https://www.eastsussex1space.co.uk" />
      <add key="WebChat" value="img-src https://prod3si.click4assistance.co.uk; script-src https://prod3si.click4assistance.co.uk 'unsafe-inline'; frame-src https://prod3si.click4assistance.co.uk https://prod3ci.click4assistance.co.uk" />
      <add key="GisMaps" value="img-src https:/maps2.eastsussex.gov.uk" />
      <add key="Typekit" value="img-src https://p.typekit.net; script-src https://use.typekit.net; style-src https://use.typekit.net 'unsafe-inline'; font-src data: https://use.typekit.net" />
      <add key="CmsPreview" value="style-src 'unsafe-inline'; script-src 'unsafe-inline';" />
      <add key="ESCIS" value="frame-src https://www.escis.org.uk" />
      <add key="CouncilPlan" value="object-src https://eastsussexgovuk.blob.core.windows.net; frame-src 'self' https://eastsussexgovuk.blob.core.windows.net https://new.eastsussex.gov.uk;"/>
      <add key="OrdnanceSurveyMaps" value="script-src https://maps2.eastsussex.gov.uk https://cdnjs.cloudflare.com https://serverapi.arcgisonline.com 'unsafe-eval'; style-src https://serverapi.arcgisonline.com 'unsafe-inline'; img-src https://serverapi.arcgisonline.com https://maps2.eastsussex.gov.uk" />

      <add key="Apply" value="Default;Dev;GoogleAnalytics;GoogleTagManager;GoogleFonts;CrazyEgg" />
      <add key="None" value="/umbraco;/install;/DependencyHandler.axd" />
    </ContentSecurityPolicy>
  </EsccWebTeam.Data.Web>

  <system.webServer xdt:Transform="Insert" />
  <system.webServer xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer[2])" />
  
  <system.webServer>
    <modules xdt:Transform="Insert" />
    <modules xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/modules[2])" />
  </system.webServer>
  
  <system.webServer>
    <modules>
      <!-- Apply content security policy to all pages by default -->
      <add name="ContentSecurityPolicy" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="ContentSecurityPolicy" type="EsccWebTeam.Data.Web.ContentSecurityPolicyModule" xdt:Transform="Insert" />
    </modules>
  </system.webServer>
</configuration>
