<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- There's no command for "insert if missing" so this transform uses a workaround to ensure it'll work on any config file that has at least the root <configuration /> element.
       The workaround is to insert the element you want regardless of whether it's already there, and if there are now two remove the second one. 
       
       The configSections element uses a similar but different workaround from http://stackoverflow.com/questions/18737022/xdt-transform-insertbefore-locator-condition-is-ignored
       which ensures that it's the first child of <configuration />
       -->
  <configSections xdt:Transform="InsertBefore(/configuration/*[1])" />
  <configSections xdt:Locator="XPath(/configuration/configSections[last()])">
    <sectionGroup name="EsccWebTeam.EastSussexGovUK" xdt:Transform="Insert" />
    <sectionGroup name="EsccWebTeam.EastSussexGovUK" xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/sectionGroup[@name='EsccWebTeam.EastSussexGovUK'][2])" />
    <sectionGroup name="Escc.Net" xdt:Transform="Insert" />
    <sectionGroup name="Escc.Net" xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/sectionGroup[@name='Escc.Net'][2])" />
  </configSections>
  <configSections xdt:Transform="RemoveAll" xdt:Locator="Condition(count(*)=0)" />

  <configSections>
    <sectionGroup name="EsccWebTeam.EastSussexGovUK" xdt:Locator="Match(name)">
      <section name="GeneralSettings" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" xdt:Transform="Insert" />
      <section name="GeneralSettings" xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/sectionGroup[@name='EsccWebTeam.EastSussexGovUK']/section[@name='GeneralSettings'][2])" />
      <section name="RemoteMasterPage" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" xdt:Transform="Insert" />
      <section name="RemoteMasterPage" xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/sectionGroup[@name='EsccWebTeam.EastSussexGovUK']/section[@name='RemoteMasterPage'][2])" />
    </sectionGroup>
    <sectionGroup name="Escc.Net" xdt:Locator="Match(name)">
      <section name="Proxy" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" xdt:Transform="Insert" />
      <section name="Proxy" xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/sectionGroup[@name='Escc.Net']/section[@name='Proxy'][2])" />
    </sectionGroup>
  </configSections>

  <appSettings xdt:Transform="Insert" />
  <appSettings xdt:Transform="Remove" xdt:Locator="XPath(/configuration/appSettings[2])" />

  <appSettings>
    <!-- The SchoolUrl setting is required by the 404 page -->
    <add key="SchoolUrl" xdt:Transform="Remove" xdt:Locator="Match(key)" />
    <add key="SchoolUrl" value="/educationandlearning/schools/schoolsearch/{0}.aspx" xdt:Transform="Insert" />
  </appSettings>

  <connectionStrings xdt:Transform="Insert" />
  <connectionStrings xdt:Transform="Remove" xdt:Locator="XPath(/configuration/connectionStrings[2])" />

  <connectionStrings>
    <!-- The RedirectsReader setting is required by the 404 page -->
    <add name="RedirectsReader" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="RedirectsReader" connectionString="" xdt:Transform="Insert" />
  </connectionStrings>

  <system.web xdt:Transform="Insert" />
  <system.web xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web[2])" />

  <system.web>
    <pages xdt:Transform="Insert" />
    <pages xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web/pages[2])" />
  </system.web>

  <system.web>
    <pages>
      <controls xdt:Transform="Insert" />
      <controls xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web/pages/controls[2])" />
    </pages>
  </system.web>

  <system.web>
    <pages>
      <controls>
        <add namespace="Escc.ClientDependencyFramework.WebForms" xdt:Transform="Remove" xdt:Locator="Match(namespace)" />
        <add tagPrefix="ClientDependency" namespace="Escc.ClientDependencyFramework.WebForms" assembly="Escc.ClientDependencyFramework.WebForms" xdt:Transform="Insert" />
        <add namespace="EsccWebTeam.EastSussexGovUK" xdt:Transform="Remove" xdt:Locator="Match(namespace)" />
        <add tagPrefix="EastSussexGovUK" namespace="EsccWebTeam.EastSussexGovUK" assembly="EsccWebTeam.EastSussexGovUK" xdt:Transform="Insert" />
      </controls>
    </pages>
  </system.web>

  <EsccWebTeam.EastSussexGovUK xdt:Transform="Insert" />
  <EsccWebTeam.EastSussexGovUK xdt:Transform="Remove" xdt:Locator="XPath(/configuration/EsccWebTeam.EastSussexGovUK[2])" />

  <EsccWebTeam.EastSussexGovUK>
    <GeneralSettings xdt:Transform="Insert" />
    <GeneralSettings xdt:Transform="Remove" xdt:Locator="XPath(/configuration/EsccWebTeam.EastSussexGovUK/GeneralSettings[2])" />
    <RemoteMasterPage xdt:Transform="Insert" />
    <RemoteMasterPage xdt:Transform="Remove" xdt:Locator="XPath(/configuration/EsccWebTeam.EastSussexGovUK/RemoteMasterPage[2])" />
  </EsccWebTeam.EastSussexGovUK>

  <EsccWebTeam.EastSussexGovUK>
    <GeneralSettings>
      <add key="DesktopMasterPage" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="DesktopMasterPage" value="~/masterpages/desktop.master" xdt:Transform="Insert" />
    </GeneralSettings>
    <RemoteMasterPage>
      <add key="CacheMinutes" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="CacheMinutes" value="60" xdt:Transform="Insert" />
      <add key="MasterPageControlUrl" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="MasterPageControlUrl" value="https://new.eastsussex.gov.uk/masterpages/remote/control.aspx?control={0}" xdt:Transform="Insert" />
    </RemoteMasterPage>
  </EsccWebTeam.EastSussexGovUK>

  <Escc.Net xdt:Transform="Insert" />
  <Escc.Net xdt:Transform="Remove" xdt:Locator="XPath(/configuration/Escc.Net[2])" />

  <Escc.Net>
    <Proxy xdt:Transform="Remove" />
    <Proxy xdt:Transform="Insert">
      <add key="Server" value="" />
      <add key="User" value="" />
      <add key="Password" value="" />
    </Proxy>
  </Escc.Net>
</configuration>
