<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- There's no command for "insert if missing" so this transform uses a workaround to ensure it'll work on any config file that has at least the root <configuration /> element.
       The workaround is to insert the element you want regardless of whether it's already there, and if there are now two remove the second one. 
       
       The configSections element uses a similar but different workaround from http://stackoverflow.com/questions/18737022/xdt-transform-insertbefore-locator-condition-is-ignored
       which ensures that it's the first child of <configuration />
       -->

  <configSections xdt:Transform="InsertBefore(/configuration/*[1])" />
  <configSections xdt:Locator="XPath(/configuration/configSections[last()])">
    <sectionGroup name="Escc.ClientDependencyFramework" xdt:Transform="Insert" />
    <sectionGroup name="Escc.ClientDependencyFramework" xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/sectionGroup[@name='Escc.ClientDependencyFramework'][2])" />
  </configSections>
  <configSections xdt:Transform="RemoveAll" xdt:Locator="Condition(count(*)=0)" />

  <configSections>
    <sectionGroup name="Escc.ClientDependencyFramework" xdt:Locator="Match(name)">
      <section name="ScriptFiles" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" xdt:Transform="Insert" />
      <section name="ScriptFiles" xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/sectionGroup[@name='Escc.ClientDependencyFramework']/section[@name='ScriptFiles'][2])" />
    </sectionGroup>
  </configSections>

  <Escc.ClientDependencyFramework xdt:Transform="Insert" />
  <Escc.ClientDependencyFramework xdt:Transform="Remove" xdt:Locator="XPath(/configuration/Escc.ClientDependencyFramework[2])" />

  <Escc.ClientDependencyFramework>
    <ScriptFiles xdt:Transform="Insert" />
    <ScriptFiles xdt:Transform="Remove" xdt:Locator="XPath(/configuration/Escc.ClientDependencyFramework/ScriptFiles[2])" />
  </Escc.ClientDependencyFramework>

  <Escc.ClientDependencyFramework>
    <ScriptFiles>
      <add key="HandlerPath" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="HandlerPath" value="/escc.eastsussexgovuk/js/{0}.jsx" xdt:Transform="Insert" />
      <add key="HandlerPlaceholder" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="HandlerPlaceholder" value="javascript" xdt:Transform="Insert" />

      <add key="1_Config" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="1_Config" value="/escc.eastsussexgovuk/js/min/config.js" xdt:Transform="Insert" />
      <add key="1_JQueryLoad" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="1_JQueryLoad" value="/escc.eastsussexgovuk/js/min/jquery-load.js" xdt:Transform="Insert" />
      <add key="2_jQueryUI" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="2_jQueryUI" value="/escc.eastsussexgovuk/js/libs/jquery-ui-1.10.4.custom.min.js" xdt:Transform="Insert" />
      <add key="2_JQueryRetry" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="2_JQueryRetry" value="/escc.eastsussexgovuk/js/libs/jquery.ajax-retry.min.js" xdt:Transform="Insert" />
      <add key="2_CrossOriginIE" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="2_CrossOriginIE" value="/escc.eastsussexgovuk/js/min/cross-origin-ie.js" xdt:Transform="Insert" />
      <add key="Modernizr" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Modernizr" value="/escc.eastsussexgovuk/js/libs/modernizr.custom.15280.js" xdt:Transform="Insert" />

      <add key="2_Statistics" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="2_Statistics" value="/escc.eastsussexgovuk/js/libs/escc.statistics.min.js" xdt:Transform="Insert" />
      <add key="Analytics" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Analytics" value="/escc.eastsussexgovuk/js/min/analytics.js" xdt:Transform="Insert" />
      <add key="Heatmap" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Heatmap" value="/escc.eastsussexgovuk/js/min/heatmap-analytics.js" xdt:Transform="Insert" />
      <add key="TagManager" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="TagManager" value="/escc.eastsussexgovuk/js/google-tag-manager.js" xdt:Transform="Insert" />
      <add key="ThanksForAnalytics" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="ThanksForAnalytics" value="/escc.eastsussexgovuk/js/min/thanks-for-analytics.js" xdt:Transform="Insert" />

      <add key="2_GoogleMaps" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="2_GoogleMaps" value="/escc.eastsussexgovuk/js/min/google-maps.js" xdt:Transform="Insert" />
      <add key="GoogleMapsMarkerWithLabel" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="GoogleMapsMarkerWithLabel" value="/escc.eastsussexgovuk/js/libs/markerwithlabel_packed.js" xdt:Transform="Insert" />
      <add key="GoogleMapsMarkerClusterer" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="GoogleMapsMarkerClusterer" value="/escc.eastsussexgovuk/js/libs/markerclusterer.min.js" xdt:Transform="Insert" />
      <add key="EmbedGoogleMaps" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="EmbedGoogleMaps" value="/escc.eastsussexgovuk/js/min/embed-googlemaps.js" xdt:Transform="Insert" />

      <add key="3_CascadingContent" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="3_CascadingContent" value="/escc.eastsussexgovuk/js/min/cascading-content.js" xdt:Transform="Insert" />
      <add key="Alert" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Alert" value="/escc.eastsussexgovuk/js/min/alerts.js" xdt:Transform="Insert" />
      <add key="Banners" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Banners" value="/escc.eastsussexgovuk/js/min/banners.js" xdt:Transform="Insert" />
      
      <add key="AutoSuggest" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="AutoSuggest" value="/escc.eastsussexgovuk/js/min/googleautosuggest.js" xdt:Transform="Insert" />
      <add key="CmsPreview" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="CmsPreview" value="/escc.eastsussexgovuk/js/min/umbraco-preview.js" xdt:Transform="Insert" />
      <add key="CoronerSkin" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="CoronerSkin" value="/escc.eastsussexgovuk/js/coroner-skin.js" xdt:Transform="Insert" />
      <add key="Documents" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Documents" value="/escc.eastsussexgovuk/js/libs/escc.documentsinnewwindow.min.js" xdt:Transform="Insert" />
      <add key="DocumentMetadata" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="DocumentMetadata" value="/escc.eastsussexgovuk/js/min/document-metadata.js" xdt:Transform="Insert" />
      <add key="Email" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Email" value="/escc.eastsussexgovuk/js/min/govdelivery.js" xdt:Transform="Insert" />
      <add key="EmbedYouTube" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="EmbedYouTube" value="/escc.eastsussexgovuk/js/min/embed-youtube.js" xdt:Transform="Insert" />
      <add key="EastSussex1Space" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="EastSussex1Space" value="/escc.eastsussexgovuk/js/min/1space.js" xdt:Transform="Insert" />
      <add key="ESCIS" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="ESCIS" value="/escc.eastsussexgovuk/js/min/escis.js" xdt:Transform="Insert" />
      <add key="Forms" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Forms" value="/escc.eastsussexgovuk/js/min/forms.js" xdt:Transform="Insert" />
      <add key="Languages" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Languages" value="/escc.eastsussexgovuk/js/min/languages.js" xdt:Transform="Insert" />
      <add key="Media" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Media" value="/escc.eastsussexgovuk/js/min/media-queries.js" xdt:Transform="Insert" />
      <add key="Navigation" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Navigation" value="/escc.eastsussexgovuk/js/nav.js" xdt:Transform="Insert" />
      <add key="PublicLibraries" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="PublicLibraries" value="/escc.eastsussexgovuk/js/min/public-libraries.js" xdt:Transform="Insert" />
      <add key="SocialMedia" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="SocialMedia" value="/escc.eastsussexgovuk/js/min/social-media.js" xdt:Transform="Insert" />
      <add key="SwitchView" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="SwitchView" value="/escc.eastsussexgovuk/js/min/switch-view.js" xdt:Transform="Insert" />
      <add key="Typekit" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="Typekit" value="/escc.eastsussexgovuk/js/min/typekit.js" xdt:Transform="Insert" />
      <add key="WebChat" xdt:Transform="Remove" xdt:Locator="Match(key)" />
      <add key="WebChat" value="/escc.eastsussexgovuk/js/min/webchat.js" xdt:Transform="Insert" />
    </ScriptFiles>
  </Escc.ClientDependencyFramework>
</configuration>
