<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- There's no command for "insert if missing" so this transform uses a workaround to ensure it'll work on any config file that has at least the root <configuration /> element.
       The workaround is to insert the element you want regardless of whether it's already there, and if there are now two remove the second one. 
       
       The configSections element uses a similar but different workaround from http://stackoverflow.com/questions/18737022/xdt-transform-insertbefore-locator-condition-is-ignored
       which ensures that it's the first child of <configuration />
       -->

  <configSections xdt:Transform="InsertBefore(/configuration/*[1])" />
  <configSections xdt:Locator="XPath(/configuration/configSections[last()])">
    <sectionGroup name="Escc.Web.Metadata" xdt:Transform="Insert" />
    <sectionGroup name="Escc.Web.Metadata" xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/sectionGroup[@name='Escc.Web.Metadata'][2])" />
  </configSections>
  <configSections xdt:Transform="RemoveAll" xdt:Locator="Condition(count(*)=0)" />

  <configSections>
    <sectionGroup name="Escc.Web.Metadata" xdt:Locator="Match(name)">
      <section name="EgmsWebMetadata" type="Escc.Web.Metadata.EgmsWebMetadataSectionHandler, Escc.Web.Metadata, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" requirePermission="false" xdt:Transform="Insert" />
      <section name="EgmsWebMetadata" xdt:Transform="Remove" xdt:Locator="XPath(/configuration/configSections/sectionGroup[@name='Escc.Web.Metadata']/section[@name='EgmsWebMetadata'][2])" />
    </sectionGroup>
  </configSections>

  <Escc.Web.Metadata xdt:Transform="Insert" />
  <Escc.Web.Metadata xdt:Transform="Remove" xdt:Locator="XPath(/configuration/Escc.Web.Metadata[2])" />

  <Escc.Web.Metadata>
    <EgmsWebMetadata xdt:Transform="Remove" />
    <EgmsWebMetadata
      errorMode="Off"
      creator="Web Team, East Sussex County Council, County Hall, Lewes, BN7 1SG. https://new.eastsussex.gov.uk/contact-us/"
      lgilType="Providing information"
      copyrightUrl="https://new.eastsussex.gov.uk/about-this-site/copyright/"
      openSearchUrl="https://new.eastsussex.gov.uk/search/opensearch.xml"
      openSearchTitle="East Sussex County Council"
      titlePattern="{0} &amp;#8211; East Sussex County Council"
      hasTouchIcon="true"
      facebookAppId="169406409819518"
      siteName="East Sussex County Council"
      siteImageUrl="https://new.eastsussex.gov.uk/escc.eastsussexgovuk/img/logo-for-facebook.png"
      openGraphType="article"
      windowsTileIconUrl="https://new.eastsussex.gov.uk/windows-tile.png"
      windowsTileColour="#ffffff"
      twitterAccount="@eastsussexcc"
      xdt:Transform="Insert"
    />
  </Escc.Web.Metadata>

  <system.web xdt:Transform="Insert" />
  <system.web xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web[2])" />
  
  <system.web>
    <pages xdt:Transform="Insert" />
    <pages xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web/pages[2])" />
  </system.web>

  <system.web>
    <pages>
      <controls xdt:Transform="Insert" />
      <controls xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web/pages/controls[2])" />
    </pages>
  </system.web>
  
  <system.web>
    <pages>
      <controls>
        <add namespace="Escc.Web.Metadata" xdt:Transform="Remove" xdt:Locator="Match(namespace)" />
        <add tagPrefix="Metadata" namespace="Escc.Web.Metadata" assembly="Escc.Web.Metadata" xdt:Transform="Insert" />
      </controls>
    </pages>
  </system.web>

</configuration>
