<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- There's no command for "insert if missing" so this transform uses a workaround to ensure it'll work on any config file that has at least the root <configuration /> element.
       The workaround is to insert the element you want regardless of whether it's already there, and if there are now two remove the second one. 
       -->
  <connectionStrings xdt:Transform="Insert" />
  <connectionStrings xdt:Transform="Remove" xdt:Locator="XPath(/configuration/connectionStrings[2])" />

  <connectionStrings>
    <add name="RedirectsReader" xdt:Transform="Remove" xdt:Locator="Match(name)" />
    <add name="RedirectsReader" connectionString="" xdt:Transform="Insert" />
  </connectionStrings>

  <system.webServer xdt:Transform="Insert" />
  <system.webServer xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer[2])" />

  <system.webServer>
    <modules xdt:Transform="Insert" />
    <modules xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/modules[2])" />
  </system.webServer>

  <system.webServer>
    <modules>
      <add name="RedirectsModule" xdt:Transform="Remove" xdt:Locator="Match(name)" />
      <add name="RedirectsModule" type="Escc.Redirects.RedirectsModule" xdt:Transform="Insert" />
    </modules>
  </system.webServer>
</configuration>
