<?xml version="1.0"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <!-- Apply non-private settings which strengthen security.
  
       There's no command for "insert if missing" so this transform uses a workaround to ensure it'll work on any config file that has at least the root <configuration /> element.
       The workaround is to insert the element you want regardless of whether it's already there, and if there are now two remove the second one. 
       -->
  <system.web xdt:Transform="Insert" />
  <system.web xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web[2])" />

  <system.web>
    <!-- Remove the unnecessary header which identifies the ASP.NET version -->
    <httpRuntime xdt:Transform="Insert" />
    <httpRuntime xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.web/httpRuntime[2])" />
    <httpRuntime enableVersionHeader="false" xdt:Transform="SetAttributes(enableVersionHeader)"  />
  </system.web>

  <system.webServer xdt:Transform="Insert" />
  <system.webServer xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer[2])" />
  
  <system.webServer>
      <httpProtocol xdt:Transform="Insert" />
      <httpProtocol xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/httpProtocol[2])" />
  </system.webServer>
  
  <system.webServer>
    <httpProtocol>
      <customHeaders xdt:Transform="Insert" />
      <customHeaders xdt:Transform="Remove" xdt:Locator="XPath(/configuration/system.webServer/httpProtocol/customHeaders[2])" />
    </httpProtocol>
  </system.webServer>

  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <!-- Defend against clickjacking: Use SAMEORIGIN rather than DENY to allow the use of SVG images.
             When Umbraco is in use, it requires framing for preview and template editing. -->
        <remove name="X-Frame-Options" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
        <remove name="X-Frame-Options" xdt:Transform="Insert" />
        <add name="X-Frame-Options" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <add name="X-Frame-Options" value="SAMEORIGIN" xdt:Transform="Insert" />

        <!-- Enable the cross-site scripting filter built into most browsers, blocking any requests detected as XSS. -->
        <remove name="X-XSS-Protection" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
        <remove name="X-XSS-Protection" xdt:Transform="Insert" />
        <add name="X-XSS-Protection" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <add name="X-XSS-Protection" value="1; mode=block" xdt:Transform="Insert" />

        <!-- Force browsers to stick with the declared MIME type rather than guessing it from the content. -->
        <remove name="X-Content-Type-Options" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
        <remove name="X-Content-Type-Options" xdt:Transform="Insert" />
        <add name="X-Content-Type-Options" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <add name="X-Content-Type-Options" value="nosniff" xdt:Transform="Insert" />

        <!-- Remove the unnecessary "Powered by: ASP.NET" header -->
        <remove name="X-Powered-By" xdt:Transform="Remove" xdt:Locator="Match(name)" />
        <remove name="X-Powered-By" xdt:Transform="Insert" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>


