<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Plain.master.cs" Inherits="EsccWebTeam.EastSussexGovUK.MasterPages.Plain" %>
<%@ Register TagPrefix="EastSussexGovUK" Namespace="EsccWebTeam.EastSussexGovUK" Assembly="EsccWebTeam.EastSussexGovUK, Version=1.0.0.0, Culture=neutral, PublicKeyToken=06fad7304560ae6f" %>
<!DOCTYPE html>
<html class="no-js" lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#"
      xmlns:fb="https://www.facebook.com/2008/fbml" prefix="og: http://ogp.me/ns# fb: https://www.facebook.com/2008/fbml">
<head runat="server">
    <EastSussexGovUK:ContextContainer runat="server" Public="true"><asp:ContentPlaceHolder id="contentExperiment" runat="server" /></EastSussexGovUK:ContextContainer>
    <meta charset="UTF-8" />
    <asp:ContentPlaceHolder id="metadata" runat="server" />
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ContentPlaceHolder ID="content" runat="server" />
        <asp:ContentPlaceHolder ID="supporting" runat="server" />
    </form>
    <asp:ContentPlaceHolder ID="afterForm" runat="server" />
</body>
</html>

<%-- Hide bits of other templates which are not required --%>
<asp:PlaceHolder runat="server" Visible="false">
    <asp:ContentPlaceholder id="header" runat="server" />
    <asp:ContentPlaceholder id="breadcrumb" runat="server" />
    <asp:ContentPlaceHolder ID="promotionImages" runat="server" />
    <asp:ContentPlaceHolder ID="atoz" runat="server" />
    <asp:ContentPlaceHolder ID="feedback" runat="server" />
    <asp:ContentPlaceHolder ID="related" runat="server" />
    <asp:ContentPlaceHolder id="footer" runat="server" />
    <asp:ContentPlaceHolder ID="javascript" runat="server" />
    <asp:ContentPlaceHolder ID="css" runat="server" />
    <asp:ContentPlaceHolder runat="server" id="bodyclass" />
    <asp:contentplaceholder runat="server" id="fullScreenHeading" />
    <asp:contentplaceholder runat="server" id="fullScreenLinks" />
</asp:PlaceHolder>
